@import "../../publishing/css/components";

@include button;

// input
@include input_text;

// popup
@include popup_basic;

// 이미지 경로 변수 설정 
$base-img-path:"/static/images/viewer/";

.login{
    display:flex; align-items:center; justify-content:center; flex-direction:column;
    height:100%;
    .popup-basic{width:21.25rem; height:26.875rem;}
    &__logo{
        display:inline-block; 
        margin-bottom:1.875rem;
        width:3.4375rem; height:2.8125rem;
        background:url('#{$base-img-path}icon_kt.svg') no-repeat center/contain; 
    }
    &__box{
        position:relative; display:flex; align-items:center; flex-direction:column;
        padding:2.5rem 2.8125rem; box-sizing:border-box;
        width:21.25rem; height:25.625rem;
        background-color:var(--color-black); border:1px solid #1D1B22; border-radius:0.625rem;
        &::after{
            content:'';
            position:absolute; right:0; left:0; bottom:0;
            background:linear-gradient(90deg, rgba(29, 27, 34, 0.60) 0%, rgba(0, 245, 191, 0.60) 50%, rgba(29, 27, 34, 0.60) 100%);
            width:18.75rem; height:0.0625rem;
        }
        .title{
            margin-bottom:2.25rem; 
            color:#fff; font-size:1.5rem; font-weight:800; text-align:center;
        }
        
        
    }
    &-forms{
        display:flex; flex-direction:column; grid-gap:2.1875rem;
        width:100%;
    }
    &-footer{
        margin-top:auto; 
        width:100%;
        &__warning{
            margin-bottom:0.1875rem;
            color:var(--color-danger); font-size:0.75rem; line-height:1.2; text-align:center;
        }
        &__buttons{
            display:flex; align-items:center; justify-content:center; grid-gap:0.625rem;
        }
        .button{width:100%; margin:0 auto;}
    }
    // 로그인 팝업
    &-popup{
        display:flex; flex-direction:column;
        padding:1.25rem; box-sizing:border-box;
        width:21.25rem; height:23.75rem;
        &__info{
            margin-bottom:1.25rem; padding:0.9375rem 0; background-color:var(--color-black-key); border-bottom:0.0625rem solid var(--color-black); border-radius:0.5rem;
            text-align:center; color:var(--color-grayscale-light); font-size:0.75rem;
        }
        .login-forms{grid-gap:2.5rem;}
    }
}