@charset "UTF-8";
/* Button */
/* Badge */
/* Alert */
/* Toast */
/* 경고 팝업 */
/* 기본 팝업 */
/* 팝업 배경 덮기 */
/* 이벤트 팝업 - 공지사항/SOP */
/* POi Pin 정보 팝업 */
/* DatePicker/TimePicker */
/* TimePicker */
/* tooltip */
/* Checkbox */
/* Radio */
/* Input Text */
/* Table */
/* tab */
/* Accordion */
/* SOP Accordion */
/* selectbox */
/* POI Menu */
/* ToolBox */
/* PTZ Viewer */
/* 이벤트 현황 */
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.625rem 0.3125rem;
  border: 1px solid transparent;
  border-radius: 0.4375rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2.313rem;
  font-size: 0.875rem;
  color: var(--color-black);
  letter-spacing: -0.00875rem;
  cursor: pointer;
}

.button--solid-upper {
  background-color: #00ffa1;
  font-weight: 700;
  color: var(--color-black);
}

.button--solid-middle {
  background-color: var(--color-mint);
  font-weight: 700;
  color: var(--color-black);
}

.button--solid-lower {
  background-color: #157f6b;
  font-weight: 700;
  color: var(--color-grayscale01);
}

.button--solid-unselect {
  background-color: #80858d;
  font-weight: 700;
  color: var(--color-grayscale-light);
}

.button--solid-disabled {
  background-color: #80858d;
  font-weight: 700;
  color: var(--color-grayscale03);
}

.button--ghost-upper {
  border-color: #00ffa1;
  background-color: #1c2024;
  color: #00ffa1;
}

.button--ghost-middle {
  border-color: var(--color-mint);
  background-color: #1c2024;
  color: var(--color-mint);
  color: var(--color-mint);
}

.button--ghost-lower {
  border-color: #157f6b;
  background-color: #1c2024;
  color: #157f6b;
  color: var(--color-grayscale02);
}

.button--ghost-unselect {
  border-color: #80858d;
  background-color: #1c2024;
  color: #80858d;
  color: var(--color-grayscale01);
}

.button--ghost-disabled {
  border-color: #80858d;
  background-color: #1c2024;
  color: #80858d;
  color: var(--color-grayscale03);
}

.button-move {
  position: relative;
  padding: 0 0.625rem;
  border-radius: 0.4375rem;
  background-color: var(--color-grayscale-dark);
  height: 1.5rem;
  line-height: 1.5rem;
  color: var(--color-grayscale-light);
  font-size: 0.75rem;
}

.button-move::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -0.1875rem 0 0 0.3125rem;
  width: 0.875rem;
  height: 0.875rem;
  -webkit-mask-image: url("/static/images/viewer/icon14/icon14.svg");
  mask-image: url("/static/images/viewer/icon14/icon14.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -10px -10px;
  mask-position: -10px -10px;
  background-color: var(--color-grayscale-light);
}

input[type="text"], input[type="password"] {
  padding: 0.4375rem 0.625rem 0.5rem 0.625rem;
  border: 1px solid var(--color-grayscale02);
  background-color: var(--color-black);
  border-radius: 0.3125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--color-grayscale-light);
  font-size: 0.75rem;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color: var(--color-grayscale03);
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
  color: var(--color-grayscale03);
}

input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder {
  color: var(--color-grayscale03);
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: var(--color-grayscale03);
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color: var(--color-grayscale03);
}

input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
}

input[type="text"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder {
  color: var(--color-grayscale-light);
}

input[type="text"]:focus:-ms-input-placeholder, input[type="password"]:focus:-ms-input-placeholder {
  color: var(--color-grayscale-light);
}

input[type="text"]:focus::-ms-input-placeholder, input[type="password"]:focus::-ms-input-placeholder {
  color: var(--color-grayscale-light);
}

input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder {
  color: var(--color-grayscale-light);
}

input[type="text"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder {
  color: var(--color-grayscale-light);
}

input[type="text"]:disabled, input[type="password"]:disabled {
  border-color: var(--color-grayscale-dark);
  color: var(--color-grayscale03);
}

.input-error {
  position: relative;
}

.input-error input {
  border-color: #0B5746;
  height: 2.5rem;
  width: 100%;
  font-size: 0.875rem;
}

.input-error--active input {
  border-color: var(--color-danger);
  color: var(--color-danger);
}

.input-error__text {
  position: absolute;
  margin: 0.1875rem 0 0 0.3125rem;
  color: var(--color-danger);
  font-size: 0.75rem;
}

.popup-basic {
  display: inline-block;
  position: fixed;
  z-index: 998;
  background-color: var(--color-black);
  border-radius: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 0.125rem solid var(--color-mint);
  -webkit-box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.75);
  width: 25rem;
  height: 38.75rem;
}

.popup-basic--small {
  padding: 0.9375rem;
  width: 17.5rem;
  height: auto;
}

.popup-basic--small .popup-basic__head {
  height: 1.25rem;
  padding: 0;
  border-bottom: 0;
}

.popup-basic--middle {
  width: 38.125rem;
  height: 40rem;
}

.popup-basic--wide {
  width: 60rem;
  height: 43.75rem;
}

.popup-basic--xwide {
  width: 75rem;
  height: 50rem;
}

.popup-basic__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.25rem;
  border-top-left-radius: 1.1875rem;
  border-top-right-radius: 1.1875rem;
  border-bottom: 1px solid var(--color-grayscale-dark);
  height: 3.125rem;
  font-weight: 800;
  color: var(--color-mint);
  font-size: 1.125rem;
}

.popup-basic__head .close {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-mask-image: url("/static/images/viewer/icon24/icon24.svg");
  mask-image: url("/static/images/viewer/icon24/icon24.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -98px -9px;
  mask-position: -98px -9px;
  background-color: var(--color-mint);
}

.popup-basic__head .arrow {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-mask-image: url("/static/images/viewer/icon24/icon24.svg");
  mask-image: url("/static/images/viewer/icon24/icon24.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -190px -10px;
  mask-position: -190px -10px;
  background-color: var(--color-mint);
}

.popup-basic__head .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-basic__head .tab li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #157F6B;
  border-radius: 0.9375rem;
  background: rgba(28, 32, 36, 0.3);
  width: 6.875rem;
  height: 1.875rem;
  font-size: 0.875rem;
  color: var(--color-grayscale02);
}

.popup-basic__head .tab li.active {
  background-color: var(--color-mint);
  border-color: var(--color-mint);
  color: var(--color-black-key);
}

.popup-basic__head .tab li:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.popup-basic__head .tab li:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.equip-group {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.625rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 0.625rem;
}

.equip-group a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.3125rem;
  padding: 0.625rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--color-grayscale03);
  letter-spacing: -0.0075rem;
  font-size: 0.75rem;
  white-space: nowrap;
}

.equip-group a::before {
  content: '';
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  -webkit-mask-image: url("/static/images/viewer/icon_poi.svg");
  mask-image: url("/static/images/viewer/icon_poi.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -20px -20px;
  mask-position: -20px -20px;
  background-color: var(--color-grayscale03);
}

.equip-group a:hover {
  color: var(--color-grayscale-light);
}

.equip-group a:hover::before {
  background-color: var(--color-grayscale-light);
}

.equip-group a.active {
  color: var(--color-mint);
}

.equip-group a.active::before {
  background-color: var(--color-mint);
}

.equip-group a.facility::before {
  -webkit-mask-position: -420px -70px;
  mask-position: -420px -70px;
}

.equip-group a.power::before {
  -webkit-mask-position: -320px -70px;
  mask-position: -320px -70px;
}

.equip-group a.light::before {
  -webkit-mask-position: -720px -20px;
  mask-position: -720px -20px;
}

.equip-group a.fire::before {
  -webkit-mask-position: -220px -20px;
  mask-position: -220px -20px;
}

.equip-group a.elevator::before {
  -webkit-mask-position: -770px -20px;
  mask-position: -770px -20px;
}

.equip-group a.solar::before {
  -webkit-mask-position: -870px -20px;
  mask-position: -870px -20px;
}

.equip-group a.parking::before {
  -webkit-mask-position: -20px -70px;
  mask-position: -20px -70px;
}

.equip-group a.air::before {
  -webkit-mask-position: -520px -20px;
  mask-position: -520px -20px;
}

.equip-group a.obstacle::before {
  -webkit-mask-position: -70px -70px;
  mask-position: -70px -70px;
}

.equip-group a.leak::before {
  -webkit-mask-position: -120px -70px;
  mask-position: -120px -70px;
}

.equip-group a.access::before {
  -webkit-mask-position: -620px -20px;
  mask-position: -620px -20px;
}

.equip-group a.bell::before {
  -webkit-mask-position: -570px -20px;
  mask-position: -570px -20px;
}

.equip-group a.vav::before {
  -webkit-mask-position: -170px -70px;
  mask-position: -170px -70px;
}

.equip-group a.geo::before {
  -webkit-mask-position: -220px -70px;
  mask-position: -220px -70px;
}

.equip-group a.ac::before {
  -webkit-mask-position: -270px -70px;
  mask-position: -270px -70px;
}

.search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100% - 3.25rem);
}

.search-result__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.3125rem;
  height: 1.875rem;
}

.search-result__filter .button {
  min-width: 2.8125rem;
  width: 5rem;
  height: 100%;
}

.search-result__contents {
  margin-top: 1.125rem;
}

.search-result__contents .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0.1875rem;
  margin: 0 0 0.625rem;
  color: var(--color-grayscale-light);
  font-size: 0.875rem;
}

.search-result__contents .reflesh {
  display: inline-block;
  background: url("/static/images/viewer/icon14/icon14.svg") no-repeat -11.25rem -0.625rem;
  width: 0.875rem;
  height: 0.875rem;
}

.search-result__checkbox {
  position: relative;
  margin: 0.9375rem 0 1.25rem;
  height: 4.875rem;
}

.search-result__checkbox .inner {
  position: absolute;
  padding: 0.9375rem 1.5625rem;
  border: 0.0625rem solid var(--color-grayscale-dark);
  background-color: var(--color-black-key);
  border-radius: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  height: 5rem;
}

.search-result__checkbox--active .inner {
  height: auto;
}

.search-result__checkbox .btn {
  position: absolute;
  bottom: -0.0625rem;
  right: -0.0625rem;
  background-color: var(--color-grayscale-dark);
  border-top-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  width: 1.5rem;
  height: 1.5rem;
}

.search-result__checkbox .btn::before {
  content: '';
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  -webkit-mask-image: url("/static/images/viewer/icon14/icon14.svg");
  mask-image: url("/static/images/viewer/icon14/icon14.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -248px -9px;
  mask-position: -248px -9px;
  background-color: var(--color-grayscale-light);
}

.search-result__checkbox .btn--open::before {
  -webkit-mask-position: -282px -9px;
  mask-position: -282px -9px;
}

.search-result__checkbox ul {
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(7, 1fr);
  -webkit-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  row-gap: 0.75rem;
}

.search-result__footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
}

.search-result__footer .download {
  position: absolute;
  right: 0;
  padding: 0 0.625rem;
  background-color: var(--color-grayscale-dark);
  border-radius: 0.4375rem;
  line-height: 1.875rem;
  color: var(--color-grayscale01);
  font-size: 0.75rem;
}

.search-result__footer .download::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -0.125rem 0 0 0.25rem;
  width: 0.875rem;
  height: 0.875rem;
  -webkit-mask-image: url("/static/images/viewer/icon14/icon14.svg");
  mask-image: url("/static/images/viewer/icon14/icon14.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -112px -10px;
  mask-position: -112px -10px;
  background-color: var(--color-grayscale01);
}

.search-result__paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1.25rem;
  color: var(--color-grayscale03);
  font-size: 1rem;
  font-weight: 700;
}

.search-result__paging button {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-mask-image: url("/static/images/viewer/icon24/icon24.svg");
  mask-image: url("/static/images/viewer/icon24/icon24.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -186px -9px;
  mask-position: -186px -9px;
  background-color: var(--color-grayscale03);
  cursor: pointer;
}

.search-result__paging button.right {
  -webkit-mask-position: -230px -9px;
  mask-position: -230px -9px;
}

.search-result__paging .active {
  color: #fff;
}

.search-result__paging .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1.25rem;
  cursor: pointer;
}

.search-result__space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.search-result__space .section {
  padding: 1.125rem;
}

.search-result__space .section--info {
  border-right: 1px solid var(--color-grayscale-dark);
  width: 15rem;
}

.search-result__space .section--contents {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-result__space .section__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.search-result__space .section__head .title {
  font-size: 1.125rem;
  color: var(--color-grayscale-light);
  font-weight: 500;
}

.search-result__space .section__head .sub {
  margin-left: auto;
}

.search-result__space .section__detail {
  background-color: var(--color-grayscale-dark);
  width: 100%;
  height: 36.125rem;
  max-height: 36.125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-result__space .accordion {
  height: 36.125rem;
  max-height: 36.125rem;
}

.search-result--space {
  padding: 0;
}

.event-info table {
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: -0.0075rem;
}

.event-info table th, .event-info table td {
  vertical-align: middle;
  height: 2.1875rem;
  font-size: 0.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.event-info table th {
  background-color: var(--color-grayscale-dark);
  font-weight: 800;
  color: var(--color-grayscale02);
}

.event-info table td {
  color: var(--color-grayscale-light);
}

.event-info thead tr {
  border-top: 0.125rem solid var(--color-grayscale02);
  border-bottom: 1px solid var(--color-grayscale-dark);
}

.event-info tbody tr {
  border-bottom: 1px solid var(--color-grayscale-dark);
}

.event-info .icon-move {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  -webkit-mask-image: url("/static/images/viewer/icon14/icon14.svg");
  mask-image: url("/static/images/viewer/icon14/icon14.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -10px -10px;
  mask-position: -10px -10px;
  background-color: var(--color-grayscale-light);
}

.maintenance-info {
  padding: 1.25rem;
}

.maintenance-info__list {
  margin-right: -0.625rem;
  padding-right: 0.5625rem;
  max-height: 33.125rem;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.75rem;
}

.maintenance-info__list::-webkit-scrollbar {
  width: 0.375rem;
}

.maintenance-info__list::-webkit-scrollbar-thumb {
  background-color: var(--color-grayscale-dark);
  border-radius: 0.1875rem;
}

.maintenance-info__list::-webkit-scrollbar-track {
  background-color: var(--color-black-key);
  border-radius: 0.1875rem;
}

.maintenance-info__list table {
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: -0.0075rem;
}

.maintenance-info__list table th, .maintenance-info__list table td {
  vertical-align: middle;
  margin-right: 0.375rem;
  padding: 0.625rem 0.3125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--color-grayscale02);
}

.maintenance-info__list table th {
  height: 2.1875rem;
  font-weight: 800;
}

.maintenance-info__list table td {
  height: 3.125rem;
  color: var(--color-grayscale-light);
}

.maintenance-info__list thead tr {
  border-top: 1px solid var(--color-grayscale02);
  border-bottom: 1px solid var(--color-grayscale-dark);
}

.maintenance-info__list tbody tr {
  border-bottom: 1px solid var(--color-grayscale-dark);
}

.maintenance-info__list li + li {
  margin-top: 1.25rem;
}

.maintenance-info__title {
  margin-bottom: 0.625rem;
  color: var(--color-grayscale-light);
  font-size: 0.875rem;
  font-weight: 700;
}

.patrol-info {
  margin: 0.625rem 0 0 0.625rem;
  padding: 0 0.625rem 0 0;
  height: 22.5rem;
  max-height: 22.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--color-grayscale01);
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: -0.00875rem;
}

.patrol-info::-webkit-scrollbar {
  width: 0.375rem;
}

.patrol-info::-webkit-scrollbar-thumb {
  background-color: var(--color-grayscale-dark);
  border-radius: 0.1875rem;
}

.patrol-info::-webkit-scrollbar-track {
  background-color: var(--color-black-key);
  border-radius: 0.1875rem;
}

.patrol-info__ctrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.9375rem;
  background-color: var(--color-grayscale-dark);
  width: 100%;
  height: 2.75rem;
}

.patrol-info__ctrl button {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-mask-image: url("/static/images/viewer/icon24/icon_play.svg");
  mask-image: url("/static/images/viewer/icon24/icon_play.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--color-grayscale03);
  cursor: pointer;
}

.patrol-info__ctrl button.play {
  -webkit-mask-position: -98px -10px;
  mask-position: -98px -10px;
}

.patrol-info__ctrl button.pause {
  -webkit-mask-position: -10px -10px;
  mask-position: -10px -10px;
}

.patrol-info__ctrl button.stop {
  -webkit-mask-position: -54px -10px;
  mask-position: -54px -10px;
}

.patrol-info__output {
  margin-top: 0.375rem;
  padding: 0 1.25rem;
}

.patrol-info__output .location__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0.1875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  color: var(--color-grayscale01);
}

.patrol-info__output .location__title::before {
  content: '';
  margin: 0 0.125rem;
  width: 0.875rem;
  height: 0.875rem;
  -webkit-mask-image: url("/static/images/viewer/icon14/icon14.svg");
  mask-image: url("/static/images/viewer/icon14/icon14.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -520px -10px;
  mask-position: -520px -10px;
  background-color: var(--color-grayscale01);
}

.patrol-info__output ol {
  counter-reset: counter;
}

.patrol-info__output ol > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  counter-increment: counter;
}

.patrol-info__output ol > li::before {
  content: counter(counter, decimal-leading-zero);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.375rem;
  width: 1.875rem;
  height: 1.875rem;
  color: var(--color-grayscale-light);
  font-weight: 900;
  font-size: 0.875rem;
}

.patrol-info__output ul {
  position: relative;
  padding: 0 0 0 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-grayscale01);
}

.patrol-info__output ul::before {
  content: '';
  position: absolute;
  left: 0.5rem;
  top: 0;
  height: 100%;
  border-left: 1px dotted var(--color-grayscale01);
}

.patrol-info__output ul > li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.875rem;
}

.patrol-info__output ul > li::before {
  content: '';
  position: absolute;
  left: -0.3125rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 0.15625rem;
  height: 0.15625rem;
  background-color: var(--color-grayscale01);
}

@media (min-width: 768px) and (max-width: 1400px) {
  .popup-basic--xwide {
    width: 65rem;
    height: 45rem;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.login .popup-basic {
  width: 21.25rem;
  height: 26.875rem;
}

.login__logo {
  display: inline-block;
  margin-bottom: 1.875rem;
  width: 3.4375rem;
  height: 2.8125rem;
  background: url("/static/images/viewer/icon_kt.svg") no-repeat center/contain;
}

.login__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem 2.8125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 21.25rem;
  height: 25.625rem;
  background-color: var(--color-black);
  border: 1px solid #1D1B22;
  border-radius: 0.625rem;
}

.login__box::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(29, 27, 34, 0.6)), color-stop(50%, rgba(0, 245, 191, 0.6)), to(rgba(29, 27, 34, 0.6)));
  background: linear-gradient(90deg, rgba(29, 27, 34, 0.6) 0%, rgba(0, 245, 191, 0.6) 50%, rgba(29, 27, 34, 0.6) 100%);
  width: 18.75rem;
  height: 0.0625rem;
}

.login__box .title {
  margin-bottom: 2.25rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}

.login-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 2.1875rem;
  width: 100%;
}

.login-footer {
  margin-top: auto;
  width: 100%;
}

.login-footer__warning {
  margin-bottom: 0.1875rem;
  color: var(--color-danger);
  font-size: 0.75rem;
  line-height: 1.2;
  text-align: center;
}

.login-footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.625rem;
}

.login-footer .button {
  width: 100%;
  margin: 0 auto;
}

.login-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 21.25rem;
  height: 23.75rem;
}

.login-popup__info {
  margin-bottom: 1.25rem;
  padding: 0.9375rem 0;
  background-color: var(--color-black-key);
  border-bottom: 0.0625rem solid var(--color-black);
  border-radius: 0.5rem;
  text-align: center;
  color: var(--color-grayscale-light);
  font-size: 0.75rem;
}

.login-popup .login-forms {
  grid-gap: 2.5rem;
}
/*# sourceMappingURL=login.css.map */