@charset "UTF-8";
/* Button */
/* Badge */
/* Alert */
/* Toast */
/* 경고 팝업 */
/* 장비 목록 팝업 */
/* 공지사항 알림 팝업 */
/* Tooltip */
/* Checkbox */
/* Radio */
/* Input Text */
/* Table */
/* Accordion */
/* SOP Accordion */
/* Selectbox */
/* POI Menu */
/* Tool Box */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  border: 1px solid transparent;
  border-radius: 7px;
  box-sizing: border-box;
  min-width: 5rem;
  height: 2.313rem;
  font-size: 0.875rem;
  color: var(--color-black);
  letter-spacing: -0.00875rem;
}
.button--solid-upper {
  background-color: #00ffa1;
  font-weight: 700;
}
.button--solid-middle {
  background-color: var(--color-mint);
  font-weight: 700;
}
.button--solid-lower {
  background-color: #157f6b;
  font-weight: 700;
  color: var(--color-grayscale01);
}
.button--solid-unselect {
  background-color: #80858d;
  font-weight: 700;
  color: var(--color-grayscale-light);
}
.button--solid-disabled {
  background-color: #80858d;
  font-weight: 700;
  color: var(--color-grayscale03);
}
.button--ghost-upper {
  border-color: #00ffa1;
  background-color: #1c2024;
  color: #00ffa1;
}
.button--ghost-middle {
  border-color: var(--color-mint);
  background-color: #1c2024;
  color: var(--color-mint);
}
.button--ghost-lower {
  border-color: #157f6b;
  background-color: #1c2024;
  color: #157f6b;
  color: var(--color-grayscale02);
}
.button--ghost-unselect {
  border-color: #80858d;
  background-color: #1c2024;
  color: #80858d;
  color: var(--color-grayscale01);
}
.button--ghost-disabled {
  border-color: #80858d;
  background-color: #1c2024;
  color: #80858d;
  color: var(--color-grayscale03);
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 5px;
  background-color: #cb0000;
  border-radius: 100%;
  width: 20px;
  height: 19px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 800;
}

.table {
  width: 100%;
}
.table th, .table td {
  color: var(--color-grayscale-light);
}
.table th {
  padding: 7px 5px;
  font-size: 0.875rem;
}
.table td {
  padding: 11px 5px;
  border-bottom: 1px solid var(--color-grayscale03);
  font-size: 0.75rem;
  text-align: center;
}
.table thead {
  position: relative;
}
.table thead::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--color-grayscale03);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 48px;
  padding: 30px;
  background-color: var(--color-black);
  border-radius: 10px;
  box-sizing: border-box;
  width: 18.75rem;
  color: #fff;
}

.toast {
  position: fixed;
  bottom: -100%;
  right: 20px;
  visibility: hidden;
  z-index: 1;
  transition: all 2s cubic-bezier(0.86, 0, 0.07, 1);
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.toast__box {
  position: relative;
  padding: 15px 10px 13px;
  border-radius: 10px;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(0, 245, 191, 0.8) 0%, rgba(0, 245, 191, 0.8) 100%), rgba(0, 0, 0, 0.2);
  width: 21.875rem;
  color: var(--color-navy-dark);
}
.toast__box:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.toast__close {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: var(--color-black-key);
  border-radius: 100%;
  width: 24px;
  height: 24px;
}
.toast__close::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  -webkit-mask-image: url("/dashboard/img/icon14/icon14.svg");
  mask-image: url("/dashboard/img/icon14/icon14.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -112px -10px;
  mask-position: -112px -10px;
  background-color: var(--color-mint);
}
.toast__texts {
  text-align: center;
  line-height: 1.25rem;
}
.toast__texts p {
  font-weight: 500;
}
.toast--active {
  bottom: 0;
  visibility: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip__text {
  position: absolute;
  padding: 3px 5px;
  background-color: var(--color-black-key);
  border-radius: 2px;
  box-sizing: border-box;
  height: 20px;
  font-size: 0.6875rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.4;
  white-space: nowrap;
}
.tooltip__text--right::before, .tooltip__text--top::before {
  content: "";
  position: absolute;
  background: url("/dashboard/img/tooltip_arrow.svg") no-repeat;
  width: 5px;
  height: 6px;
}
.tooltip__text--right {
  margin-left: 5px;
}
.tooltip__text--right::before {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}
.tooltip__text--top {
  margin-bottom: 5px;
}
.tooltip__text--top::before {
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) rotate(30deg);
}

.selectbox {
  position: relative;
  font-size: 0.75rem;
}
.selectbox__content {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  z-index: 1;
  background-color: var(--color-black);
  border: 1px solid var(--color-grayscale-dark);
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}
.selectbox__content ul {
  max-height: 162px;
  overflow-y: auto;
  overflow-x: hidden;
}
.selectbox__content ul::-webkit-scrollbar {
  width: 6px;
}
.selectbox__content ul::-webkit-scrollbar-thumb {
  background-color: var(--color-grayscale-dark);
  border-radius: 3px;
}
.selectbox__content ul::-webkit-scrollbar-track {
  background-color: var(--color-black-key);
  border-radius: 3px;
}
.selectbox__content li {
  padding: 6px 10px;
  border-bottom: 1px solid var(--color-grayscale-dark);
  box-sizing: border-box;
  height: 27px;
  color: var(--color-grayscale01);
  line-height: 15px;
}
.selectbox__content li:last-child {
  border-bottom: none;
}
.selectbox__btn {
  position: relative;
  display: inline-block;
  padding: 7.5px 8px;
  border: 1px solid var(--color-grayscale02);
  background-color: var(--color-black);
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  color: var(--color-grayscale03);
  cursor: pointer;
}
.selectbox__btn::after {
  content: "";
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  -webkit-mask-image: url("/dashboard/img/icon14/icon14.svg");
  mask-image: url("/dashboard/img/icon14/icon14.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -70px 0;
  mask-position: -70px 0;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--color-grayscale03);
}
.selectbox__btn--active {
  color: var(--color-grayscale-light);
}
.selectbox__btn--active + .selectbox__content {
  display: block;
}
.selectbox__btn--active::after {
  -webkit-mask-position: -84px 0;
  mask-position: -84px 0;
  background-color: var(--color-grayscale-light);
}
.selectbox__btn--disabled {
  border-color: var(--color-grayscale-dark);
  cursor: revert;
}

.accordion {
  padding-right: 9px;
  max-height: 455px;
  overflow-y: auto;
  overflow-x: hidden;
}
.accordion .align-left {
  text-align: left;
}
.accordion::-webkit-scrollbar {
  width: 6px;
}
.accordion::-webkit-scrollbar-thumb {
  background-color: var(--color-grayscale-dark);
  border-radius: 3px;
}
.accordion::-webkit-scrollbar-track {
  background-color: var(--color-black-key);
  border-radius: 3px;
}
.accordion__detail {
  display: none;
  margin-bottom: 10px;
  font-size: 0.75rem;
}
.accordion__detail .empty {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black-key);
  height: 80px;
  color: var(--color-grayscale-light);
}
.accordion__detail table th, .accordion__detail table td {
  text-align: center;
}
.accordion__detail table th {
  padding: 7px 5px;
  background-color: var(--color-grayscale-dark);
  color: var(--color-grayscale-light);
  font-weight: 700;
}
.accordion__detail table td {
  padding: 11px 5px;
  color: var(--color-grayscale01);
}
.accordion__detail table tbody {
  display: block;
  max-height: 185px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-black);
}
.accordion__detail table tbody tr {
  border-bottom: 1px solid var(--color-grayscale-dark);
}
.accordion__detail table tbody tr:last-child {
  border-bottom: none;
}
.accordion__detail table tbody::-webkit-scrollbar {
  width: 6px;
}
.accordion__detail table tbody::-webkit-scrollbar-thumb {
  background-color: var(--color-grayscale-dark);
  border-radius: 3px;
}
.accordion__detail table tbody::-webkit-scrollbar-track {
  background-color: var(--color-black-key);
  border-radius: 3px;
}
.accordion__detail table thead, .accordion__detail table tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.accordion__btn {
  position: relative;
  padding: 10px 24px 10px 10px;
  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-grayscale-dark);
  border-top: 2px solid var(--color-grayscale02);
  box-sizing: border-box;
  width: 100%;
  color: var(--color-grayscale01);
}
.accordion__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background: url("/dashboard/img/icon14/icon14.svg") no-repeat;
  background-position: -180px -10px;
  width: 14px;
  height: 14px;
}
.accordion__btn--active {
  background-color: var(--color-grayscale03);
  color: var(--color-grayscale-light);
}
.accordion__btn--active::after {
  background-position-x: -214px;
}
.accordion__btn--active + .accordion__detail {
  display: block;
}

.sopaccord {
  padding-right: 9px;
  max-height: 455px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.75rem;
}
.sopaccord::-webkit-scrollbar {
  width: 6px;
}
.sopaccord::-webkit-scrollbar-thumb {
  background-color: var(--color-grayscale-dark);
  border-radius: 3px;
}
.sopaccord::-webkit-scrollbar-track {
  background-color: var(--color-black-key);
  border-radius: 3px;
}
.sopaccord__btn {
  position: relative;
  display: flex;
  align-items: center;
  grid-gap: 5px;
  padding: 10px 24px 10px 10px;
  border-bottom: 1px solid var(--color-grayscale-dark);
  box-sizing: border-box;
  width: 100%;
  color: var(--color-grayscale01);
  line-height: 19px;
}
.sopaccord__btn .label {
  background-color: var(--color-grayscale-dark);
  border-radius: 5px;
  min-width: 50px;
  font-weight: 700;
  text-align: center;
  color: var(--color-grayscale-light);
}
.sopaccord__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background: url("/dashboard/img/icon14/icon14.svg") no-repeat;
  background-position: -180px -10px;
  width: 14px;
  height: 14px;
}
.sopaccord__btn--active {
  background-color: var(--color-grayscale03);
  color: var(--color-grayscale-light);
}
.sopaccord__btn--active::after {
  background-position-x: -214px;
}
.sopaccord__btn--active + table {
  display: block;
}
.sopaccord__detail {
  padding: 10px 5px;
  line-height: 1.3;
}
.sopaccord__detail .message {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid var(--color-grayscale-light);
  background-color: var(--color-grayscale02);
  box-sizing: border-box;
  color: var(--color-grayscale-light);
}
.sopaccord__detail .message__title {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 0.875rem;
}
.sopaccord__detail ul {
  padding: 5px 10px;
  color: var(--color-grayscale01);
}
.sopaccord__detail ul li + li {
  margin-top: 5px;
}

.popup-warning {
  background-color: var(--color-black);
  border: 2px solid var(--color-danger);
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  width: 21.875rem;
}
.popup-warning__head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: var(--color-danger);
  border-radius: 7px 7px 0 0;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.01rem;
  text-align: center;
}
.popup-warning__content {
  padding: 20px;
}
.popup-warning__content table {
  width: 100%;
}
.popup-warning__content table th, .popup-warning__content table td {
  border: 1px solid var(--color-black);
  background-color: #2C2E31;
  font-size: 0.75rem;
  font-weight: 500;
}
.popup-warning__content table th {
  padding: 7.5px 10px 7.5px 5px;
  color: var(--color-grayscale02);
}
.popup-warning__content table td {
  padding: 7.5px 5px 7.5px 10px;
  color: var(--color-grayscale-light);
  text-align: left;
}
.popup-warning__content .buttons {
  display: flex;
  grid-gap: 10px;
  margin-top: 19px;
}
.popup-warning__content .buttons button:first-child {
  flex: 1;
}
.popup-warning__content .buttons button:nth-child(2) {
  flex: 2;
}

.popup-notice {
  background-color: var(--color-black);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px 20px 10px 10px;
  width: 31.25rem;
  height: 37.5rem;
}
.popup-notice__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--color-mint);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  height: 50px;
  font-weight: 800;
  color: var(--color-navy-dark);
  font-size: 1.125rem;
}
.popup-notice__head .close {
  width: 24px;
  height: 24px;
  -webkit-mask-image: url("/dashboard/img/icon24/icon24.svg");
  mask-image: url("/dashboard/img/icon24/icon24.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -98px -9px;
  mask-position: -98px -9px;
  background-color: var(--color-navy-dark);
}
.popup-notice__info .title {
  display: flex;
  grid-gap: 5px;
  align-items: flex-start;
  margin: 15px 30px 5px 20px;
  min-height: 35px;
  color: #fff;
  line-height: 1.125rem;
}
.popup-notice__info .title__label {
  flex-shrink: 0;
  background-color: var(--color-danger);
  border-radius: 5px;
  padding: 0 4.5px;
  height: 20px;
  font-size: 0.75rem;
  line-height: 20px;
}
.popup-notice__info .date {
  margin: 0 30px 0 20px;
  color: var(--color-grayscale03);
  font-size: 0.75rem;
}
.popup-notice__info .contents {
  margin: 15px 10px 0 0;
  padding: 0 14px 0 20px;
  max-height: 360px;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--color-grayscale01);
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: -0.00875rem;
}
.popup-notice__info .contents::-webkit-scrollbar {
  width: 6px;
}
.popup-notice__info .contents::-webkit-scrollbar-thumb {
  background-color: var(--color-grayscale-dark);
  border-radius: 3px;
}
.popup-notice__info .contents::-webkit-scrollbar-track {
  background-color: var(--color-black-key);
  border-radius: 3px;
}
.popup-notice__paging {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 45px;
  margin-top: 35px;
  padding: 23px 0 21px;
  color: var(--color-grayscale03);
  font-size: 1.375rem;
  font-weight: 700;
}
.popup-notice__paging button {
  width: 24px;
  height: 24px;
  -webkit-mask-image: url("/dashboard/img/icon24/icon24.svg");
  mask-image: url("/dashboard/img/icon24/icon24.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -186px -9px;
  mask-position: -186px -9px;
  background-color: var(--color-grayscale03);
}
.popup-notice__paging button.right {
  -webkit-mask-position: -230px -9px;
  mask-position: -230px -9px;
}
.popup-notice__paging .active {
  color: #fff;
}
.popup-notice__paging .number {
  display: flex;
  grid-gap: 10px;
}

.popup-equiplist {
  padding: 15px;
  background-color: var(--color-black);
  border-radius: 10px;
  box-sizing: border-box;
  border-top: 2px solid var(--color-mint);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  width: 17.5rem;
}
.popup-equiplist__info {
  display: flex;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
}
.popup-equiplist__info a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  padding: 10px 0;
  box-sizing: border-box;
  color: var(--color-grayscale03);
  letter-spacing: -0.0075rem;
  font-size: 0.75rem;
}
.popup-equiplist__info a::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-mask-image: url("/dashboard/img/icon20/icon20.svg");
  mask-image: url("/dashboard/img/icon20/icon20.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -20px -20px;
  mask-position: -20px -20px;
  background-color: var(--color-grayscale03);
}
.popup-equiplist__info a:hover {
  color: var(--color-grayscale-light);
}
.popup-equiplist__info a:hover::before {
  background-color: var(--color-grayscale-light);
}
.popup-equiplist__info a.active {
  color: var(--color-mint);
}
.popup-equiplist__info a.active::before {
  background-color: var(--color-mint);
}
.popup-equiplist__info a.shutter::before {
  -webkit-mask-position: -60px -20px;
  mask-position: -60px -20px;
}
.popup-equiplist__info a.fire::before {
  -webkit-mask-position: -100px -20px;
  mask-position: -100px -20px;
}
.popup-equiplist__info a.air::before {
  -webkit-mask-position: -140px -20px;
  mask-position: -140px -20px;
}
.popup-equiplist__info a.alarmbell::before {
  -webkit-mask-position: -180px -20px;
  mask-position: -180px -20px;
}
.popup-equiplist__info a.invasion::before {
  -webkit-mask-position: -220px -20px;
  mask-position: -220px -20px;
}
.popup-equiplist__info a.enter::before {
  -webkit-mask-position: -260px -20px;
  mask-position: -260px -20px;
}
.popup-equiplist__info a.elevator::before {
  -webkit-mask-position: -300px -20px;
  mask-position: -300px -20px;
}

.checkbox-wrap {
  display: flex;
  grid-gap: 3px;
  align-items: center;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  border: 1px solid var(--color-grayscale03);
  background-color: var(--color-black);
  border-radius: 3px;
}
input[type=checkbox]:checked {
  border-color: var(--color-mint-dark);
}
input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("/dashboard/img/input_checkbox.svg") no-repeat;
  background-size: contain;
  width: 6px;
  height: 4px;
}
input[type=checkbox]:checked + label {
  color: var(--color-mint-dark);
}
input[type=checkbox]:disabled {
  border-color: var(--color-grayscale-dark);
  background-color: var(--color-black-key);
}
input[type=checkbox]:disabled::after {
  display: none;
}
input[type=checkbox] + label {
  font-size: 0.75rem;
  color: var(--color-grayscale03);
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  border: 1px solid var(--color-grayscale03);
  background-color: var(--color-black);
  border-radius: 15px;
}
input[type=radio]:checked {
  border-color: var(--color-mint-dark);
}
input[type=radio]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-mint);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.6) inset;
  border-radius: 100%;
  width: 8px;
  height: 8px;
}
input[type=radio]:disabled {
  border-color: var(--color-grayscale-dark);
  background-color: var(--color-black-key);
}
input[type=radio]:disabled::after {
  display: none;
}

input[type=text] {
  padding: 7px 10px 8px 10px;
  border: 1px solid var(--color-grayscale02);
  background-color: var(--color-black);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--color-grayscale-light);
  font-size: 0.75rem;
}
input[type=text]::-moz-placeholder {
  color: var(--color-grayscale03);
}
input[type=text]::placeholder {
  color: var(--color-grayscale03);
}
input[type=text]::-webkit-input-placeholder {
  color: var(--color-grayscale03);
}
input[type=text]:focus {
  outline: none;
}
input[type=text]:focus::-moz-placeholder {
  color: var(--color-grayscale-light);
}
input[type=text]:focus::placeholder {
  color: var(--color-grayscale-light);
}
input[type=text]:focus::-webkit-input-placeholder {
  color: var(--color-grayscale-light);
}
input[type=text]:disabled {
  border-color: var(--color-grayscale-dark);
  color: var(--color-grayscale03);
}

.poi-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
  width: 60px;
}
.poi-menu__all {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: linear-gradient(178deg, #00F5BF 44.07%, #15B9FF 99.49%);
  box-shadow: 0px -8px 13px 0px rgba(3, 61, 170, 0.6) inset;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.7));
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.poi-menu__all .popup-equiplist {
  position: absolute;
  left: 77px;
  top: 0;
}
.poi-menu__all .all {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: var(--color-navy-dark);
  font-size: 0.6875rem;
  line-height: 14px;
}
.poi-menu__all .all > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  text-align: center;
}
.poi-menu__all .all > a::before {
  content: "";
  -webkit-mask-image: url("/dashboard/img/icon_poi.svg");
  mask-image: url("/dashboard/img/icon_poi.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -340px -20px;
  mask-position: -340px -20px;
  background-color: var(--color-navy-dark);
  width: 20px;
  height: 20px;
}
.poi-menu__all .all.active {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px 0px #43D0DF inset;
  color: var(--color-blue);
}
.poi-menu__all .all.active > a::before {
  background-color: var(--color-blue);
}
.poi-menu__all .all:hover {
  color: var(--color-blue);
}
.poi-menu__all .all:hover > a::before {
  background-color: var(--color-blue);
}
.poi-menu__list {
  background: linear-gradient(178deg, #00F5BF 44.07%, #15B9FF 99.49%);
  box-shadow: 0px -8px 13px 0px rgba(3, 61, 170, 0.6) inset;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.7));
  padding: 10px 7.5px;
  border-radius: 40px;
  width: 60px;
  box-sizing: border-box;
}
.poi-menu__list .tooltip {
  display: none;
}
.poi-menu__list .tooltip__text {
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
}
.poi-menu__list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-gap: 3px;
}
.poi-menu__list li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.poi-menu__list li > a {
  width: 45px;
  height: 45px;
  -webkit-mask-image: url("/dashboard/img/icon_poi.svg");
  mask-image: url("/dashboard/img/icon_poi.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -8px -6px;
  mask-position: -8px -6px;
  background-color: var(--color-navy-dark);
}
.poi-menu__list li.shutter a {
  -webkit-mask-position: -48px -6px;
  mask-position: -48px -6px;
}
.poi-menu__list li.fire a {
  -webkit-mask-position: -88px -8px;
  mask-position: -88px -8px;
}
.poi-menu__list li.alarmbell a {
  -webkit-mask-position: -126px -8px;
  mask-position: -126px -8px;
}
.poi-menu__list li.air a {
  -webkit-mask-position: -166x -8px;
  mask-position: -166px -8px;
}
.poi-menu__list li.invasion a {
  -webkit-mask-position: -208px -6px;
  mask-position: -208px -6px;
}
.poi-menu__list li.enter a {
  -webkit-mask-position: -248px -8px;
  mask-position: -248px -8px;
}
.poi-menu__list li.elevator a {
  -webkit-mask-position: -288px -8px;
  mask-position: -288px -8px;
}
.poi-menu__list li:hover {
  background-color: rgba(20, 111, 121, 0.2);
}
.poi-menu__list li:hover > .tooltip {
  display: block;
}
.poi-menu__list li.active {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px 0px #43D0DF inset;
}
.poi-menu__list li.active > a {
  background-color: var(--color-blue);
}
.poi-menu__list li.active > .tooltip {
  display: none;
}

.toolbox {
  display: inline-flex;
  padding: 10px;
  border: 1px solid #0A1714;
  border-radius: 70px;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(0, 245, 191, 0) 61.5%, rgba(0, 245, 191, 0.2) 100%), #25252B;
  box-shadow: 0px 5px 14px 0px rgba(0, 245, 191, 0.65);
  height: 65px;
}
.toolbox__list {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}
.toolbox__list .tooltip {
  display: none;
}
.toolbox__list .tooltip__text {
  top: -38px;
  transform: translateX(-50%);
  left: 50%;
  margin-left: -10px;
}
.toolbox__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}
.toolbox__list li > a {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url("/dashboard/img/icon_tool.svg");
  mask-image: url("/dashboard/img/icon_tool.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -20px -20px;
  mask-position: -20px -20px;
  background-color: var(--color-grayscale-light);
}
.toolbox__list li.plus a {
  -webkit-mask-position: -60px -20px;
  mask-position: -60px -20px;
}
.toolbox__list li.minus a {
  -webkit-mask-position: -100px -20px;
  mask-position: -100px -20px;
}
.toolbox__list li.pov a {
  -webkit-mask-position: -140px -20px;
  mask-position: -140px -20px;
}
.toolbox__list li.twd a {
  -webkit-mask-position: -180px -20px;
  mask-position: -180px -20px;
}
.toolbox__list li.home {
  position: relative;
  margin-right: 12px;
}
.toolbox__list li.home::after {
  content: "";
  position: absolute;
  right: -12px;
  border-radius: 2px;
  background-color: var(--color-grayscale03);
  height: 35px;
  width: 2px;
}
.toolbox__list li:hover {
  background-color: #25252A;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 0px rgba(0, 245, 191, 0.45) inset;
}
.toolbox__list li:hover > .tooltip {
  display: block;
}
.toolbox__list li.active > a {
  background-color: var(--color-mint);
}
.toolbox__list li.active > .tooltip {
  display: none;
}

/* Main */
.contents {
  padding: 5rem 0 0 1.87em;
  height: 100%;
  box-sizing: border-box;
}
.contents section {
  position: relative;
}

.event-state {
  position: fixed;
  right: 0;
  border-bottom-left-radius: 20px;
  background: rgba(52, 52, 60, 0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 25.625rem;
  height: 100%;
}
.event-state::before {
  content: "";
  display: block;
  box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.35);
}/*# sourceMappingURL=main.css.map */