<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{admin/fragments/head :: head}">
	<title> 사용자 관리 </title>
</head>
<body>
	<div class="wrapper">
		<aside th:replace="~{admin/fragments/sidebar :: nav}"/>
		<div class="main">
			<nav th:replace="~{admin/fragments/navbar :: nav}"/>
			<main class="content">
				<div class="mb-3">
					<h1 class="h3 d-inline align-middle">사용자 관리</h1>
				</div>
				<div class="row">
					<div class="col-md">
						<div class="row">
							<div class="col-md-5">
								<div class="form-row">
									<div class="col-md-12">
										<form name="searchFrom" id="searchFrom" class="d-flex mb-3">
											<div class="input-group mb-3 me-2" style="max-width: fit-content;">
												<select id="searchGroupId" name="groupId" class="form-select">
												</select>
											</div>

											<div class="input-group mb-3">
												<select id="searchType" name="searchType" class="form-select" style="max-width: fit-content;">
													<option value="username">아이디</option>
													<option value="name">이름</option>
												</select>
												<input type="text" name="searchName" id="searchName" class="form-control" placeholder="검색명을 입력하세요." aria-label="" aria-describedby="button-addon2">
												<div class="input-group-append">
													<button type="button" class="btn btn-primary" id="searchButton">검색</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-md-7 text-right">
								<button type="button" class="btn btn-primary btn-md" id="btnRegistUser" data-bs-toggle="modal" data-bs-target="#userRegistModal">계정 등록</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md">
								<div id="wrapper"></div>
							</div>
						</div>
					</div>
				</div>
		</main>
	</div>
	</div>
	<div class="modal fade" id="userRegistModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog" role="document" style="max-width:700px;top:15%;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">계정 등록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<form name="userRegistFrm" id="userRegistFrm"  autocomplete="off">
						<fieldset>
							<table class="table table-bordered">
								<colgroup>
									<col style="width:30%">
									<col style="width:70%">
								</colgroup>
								<tbody>
									<tr>
										<th>그룹 설정</th>
										<td >
											<select id="registGroupId" name="userGroupId" class="form-select" required data-rules="required" data-tagname="그룹 명"></select>
										</td>
									</tr>
									<tr>
										<th>아이디</th>
										<td ><input type="text" name="username" id="registUsername" class="form-control input-sm" maxlength="16" title="아이디" required data-rules="required" data-tagname="아이디" ></td>
									</tr>
									<tr>
										<th>패스워드</th>
										<td ><input type="password" name="password" id="registPassword" class="form-control input-sm" maxlength="16" title="패스워드" required data-rules="required" data-tagname="패스워드" autocomplete="new-password"></td>
									</tr>
									<tr>
										<th>패스워드 확인</th>
										<td ><input type="password" name="passwordCheck" id="registPasswordCheck" class="form-control input-sm" maxlength="16" title="패스워드" required data-rules="required" data-tagname="패스워드 확인" ></td>
									</tr>
									<tr>
										<th>이름</th>
										<td ><input type="text" name="name" id="registNickname" class="form-control input-sm" maxlength="16" title="이름" required data-rules="required" data-tagname="이름"></td>
									</tr>
									<tr>
										<th>관리자 여부</th>
										<td >
											<input class="form-check-input" type="checkbox" id="resgistRole" name="role" value="ADMIN">
										</td>
									</tr>
								</tbody>
							</table>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" id="btnUserRegist">등록</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="userModifyModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog" role="document" style="max-width:700px;top:15%;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">사용자 수정</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<form name="userModifyFrm" id="userModifyFrm" method="post" enctype="multipart/form-data" autocomplete="off">
						<fieldset>
							<table class="table table-bordered">
								<colgroup>
									<col style="width:30%">
									<col style="width:70%">
								</colgroup>
								<tbody>
								<tr>
									<th>권한</th>
									<td >
										<select id="modifyGroupId" name="userGroupId" class="form-select" required data-rules="required" data-tagname="그룹 명">
										</select>
									</td>
								</tr>
								<tr>
									<th>아이디</th>
									<td >
										<input type="hidden" id="modifyId" name="id">
										<input type="text" name="username" id="modifyUsername" class="form-control input-sm" maxlength="16" title="아이디" required data-rules="required" data-tagname="아이디" disabled>
									</td>
								</tr>
								<tr>
									<th>패스워드</th>
									<td ><input type="password" name="password" id="modifyPassword" class="form-control input-sm" maxlength="16" title="패스워드" required data-tagname="패스워드" autocomplete="new-password"></td>
								</tr>
								<tr>
									<th>패스워드 확인</th>
									<td ><input type="password" name="passwordCheck" id="modifyPasswordCheck" class="form-control input-sm" maxlength="16" title="패스워드" required data-tagname="패스워드 확인"></td>
								</tr>
								<tr>
									<th>이름</th>
									<td ><input type="text" name="name" id="modifyNickname" class="form-control input-sm" maxlength="16" title="이름" required data-rules="required" data-tagname="이름"></td>
								</tr>
								<tr>
									<th>관리자 여부</th>
									<td >
										<input class="form-check-input" type="checkbox" id="modifyRole" name="role" value="ADMIN">
									</td>
								</tr>
								</tbody>
							</table>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" id="btnUserModify">수정</button>
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="~{admin/fragments/script :: script }"></th:block>
	<script th:src="@{/static/js/admin/user/user.js}" ></script>

	<footer th:replace="~{admin/fragments/footer :: footer}"></footer>
</body>
</html>