<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}">
</head>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/admin/admin_viewer.css}">
<link rel="stylesheet" href="/static/js/lib/fontawesome/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<body>
<div class="main" id="wrapper" style="display: -webkit-box; width: 100vw;height: 100vh;">

    <div id="sidebar-dimm"></div>
    <!-- Sidebar -->
    <div class="viewer-sidebar">
        <ul class="nav nav-tabs d-flex" style="margin-bottom:5px;" role="tablist">
            <li class="nav-item" role="presentation" style="flex: 1">
                <a class="nav-link active txt-center" data-bs-toggle="tab" id="poi-tab" name="tab">POI관리</a>
            </li>
            <li class="nav-item" role="presentation" style="flex: 1">
                <a class="nav-link txt-center" data-bs-toggle="tab" id="patrol-tab" name="tab">가상순찰</a>
            </li>

        </ul>
        <div class="tab-content" style="padding:5px; display: flex; width: 100%;height: 100%;padding-bottom: 50px;position: relative;">
            <input type="hidden" name="mapNo" id="buildingId" th:value="${param.buildingId}">
            <input type="hidden" name="poiListTabType" id="poiListTabType" value="0">
            <div class="tab-pane fade show active" name="poi-tab" id="" style="width: 100%">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <div class="nav-link active poi-position" data-tab-type="0" data-poi-position="Y"
                             id="poiAllocate">배치
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link poi-position" data-tab-type="1" data-poi-position="N"
                             id="poiUnAllocate">미배치
                        </div>
                    </li>
                </ul>
                <hr class="mg7070">
                <form name="schFrm" id="schFrm" method="post">
                    <input type="hidden" name="pageSize" value="10">
                    <input type="hidden" name="page" value="1">
                    <div class="row">
                        <div class="col-md-12">
                            <select class="form-select input-sm" name="category1No" id="largePoiCategorySelectSearchForm">
                                <option value="">POI 카테고리 선택</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group hr-margin">
                        <input type="text" name="searchKeyword" id="searchKeyword" class="form-control text-primary border-primary small" placeholder="POI 이름을 입력하세요.">
                        <div class="input-group-append">
                            <button id="btnPoiSearch" class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div id="leftPoiList">
                    <table class="table">
                        <colgroup>
                            <col style="width:85%">
                            <col style="width:15%">
                        </colgroup>
                        <tbody id="poiInfoList">
                        </tbody>
                    </table>
                </div>
                <div class="txt-center">
                    <ul class="paging-list pagination">
                    </ul>
                    <div class="pagination__wrapper">
                        <section class="pagination__items">
                            <!--                    <button class="pagination__navigate-btn" onclick="firstPage()">First</button>-->
                            <button class="pagination__navigate-btn" onclick="prevPage()">이전</button>
                            <ul class="pagination__pages pagination">

                            </ul>
                            <button class="pagination__navigate-btn" onclick="nextPage()">다음</button>
                            <!--                    <button class="pagination__navigate-btn" onclick="lastPage()">Last</button>-->
                        </section>
                    </div>
                </div>
                <hr class="hr-margin">
                <div class="txt-center">
                    <button type="button" class="btn btn-secondary btn-md" id="btnLodSetForm" lodSetModal>LOD 설정
                    </button>
                </div>
            </div>
            <div class="tab-pane fade" id="textTab" name="fire-tab"></div>
            <div class="tab-pane fade" id="patrolTab" name="patrol-tab" style="position: relative;width: 100%">
                <div id="patrolList">

                </div>
                <div id="patrolPlayer" style="width: 100%">
                    <button class="btn btn-dark btn-sm patrol-control" title="재생" data-btn-type="play">
                        <i class="fa-solid fa-play"></i>
                    </button>
                    <button class="btn btn-dark btn-sm patrol-control" title="일시정지" data-btn-type="pause">
                        <i class="fa-solid fa-pause"></i>
                    </button>
                    <button class="btn btn-dark btn-sm patrol-control" title="정지" data-btn-type="stop">
                        <i class="fa-solid fa-stop"></i>
                    </button>
                </div>
                <button id="registPatrol" class="btn btn-primary" data-btn-type="registPatrol" style="width: 100%; bottom: 0;position: absolute; height: 3rem" data-bs-toggle="modal" data-bs-target="#patrolRegisterModal">
                    가상순찰 등록
                </button>

            </div>
        </div>
    </div>
    <!-- Sidebar -->
    <div id="content-wrapper" >
        <div class="container-fluid">
            <div id="webGLContainer">
            </div>
        </div>
        <!-- 화면설정 툴바 -->
        <div id="camPosToolbar" class="active ">
            <div id="camPosTool" class="rounded">
                <button type="button" class="btn btn-dark btn-sm camPosTool" title="화면설정" data-btn-type="camera2d">
                    2D 화면 설정
                </button>
                <button type="button" class="btn btn-dark btn-sm camPosTool" title="화면설정" data-btn-type="camera3d">
                    3D 화면 설정
                </button>
            </div>
        </div>

        <!-- 가상순찰 그리기 툴바 -->
        <div id="virtualPatrolCtrlToolBar" class="">
            <div id="virtualPatrolEditTool" class="rounded">
                <button type="button" class="btn btn-dark btn-sm patrol-control" title="경로그리기" data-btn-type="addPoints"><i class="fas fa-highlighter"></i></button>
                <button type="button" class="btn btn-dark btn-sm patrol-control" title="경로그리기종료" data-btn-type="exitEditMode"><i class="fas fa-external-link-alt"></i></button>
            </div>
        </div>
        <!-- 화면설정 툴바 -->
        <div id="buildingCtrlToolBar" class="active">
            <div id="buildingCtrlTool" class="rounded">
                <button type="button" class="btn btn-dark btn-sm i-tag btnBuildingTool" title="지도 확대" data-btn-type="in">
                    <i class="fas fa-search-plus"></i></button>
                <button type="button" class="btn btn-dark btn-sm i-tag btnBuildingTool" title="지도 축소" data-btn-type="out">
                    <i class="fas fa-search-minus"></i></button>
                <button type="button" class="btn btn-dark btn-sm i-tag btnBuildingTool" title="지도(상)" data-btn-type="up">
                    <i class="fas fa-arrow-up"></i></button>
                <button type="button" class="btn btn-dark btn-sm i-tag btnBuildingTool" title="지도 (하)" data-btn-type="down">
                    <i class="fas fa-arrow-down"></i></button>
                <button type="button" class="btn btn-dark btn-sm i-tag btnBuildingTool" title="지도(좌)" data-btn-type="left">
                    <i class="fas fa-arrow-left"></i></button>
                <button type="button" class="btn btn-dark btn-sm i-tag btnBuildingTool" title="지도(우)" data-btn-type="right">
                    <i class="fas fa-arrow-right"></i></button>
                <button type="button" class="btn btn-dark btn-sm i-tag btnBuildingTool" title="지도(중앙)" data-btn-type="center">
                    <i class="fas fa-expand"></i></button>
                <button type="button" class="btn btn-dark btn-sm i-tag btnBuildingTool" title="1인칭시점" data-btn-type="viewLook">
                    <i class="fas fa-street-view"></i></button>
                <button type="button" class="btn btn-dark btn-sm btnBuildingTool" title="LOD설정" data-btn-type="lod">LOD
                </button>
            </div>
        </div>

        <!-- POI 툴바 -->
        <div id="editPoiToolBar">
            <div id="editPoiTool" class="rounded">
                <button type="button" class="btn btn-dark btn-sm i-tag btnPoiTool" title="POI편집" data-btn-type="edit">
                    <i class="fa-solid fa-pen"></i></button>
                <button type="button" class="btn btn-dark btn-sm i-tag btnPoiTool" title="POI이동" data-btn-type="translate">
                    <i class="fas fa-crosshairs"></i></button>
                <button type="button" class="btn btn-dark btn-sm i-tag btnPoiTool" title="POI회전" data-btn-type="rotate">
                    <i class="fas fa-sync"></i></button>
                <button type="button" class="btn btn-dark btn-sm i-tag btnPoiTool" title="POI크기" data-btn-type="scale">
                    <i class="fas fa-expand-arrows-alt"></i></button>
            </div>
        </div>

        <!-- 대피경로 툴바-->
        <div id="evacRouteBtnToolBar" class="active">
            <div id="evacRouteBtnTool" class="rounded">
                <button type="button" class="btn btn-dark btn-sm evacRouteBtn" title="대피경로편집" data-btn-type="evacRouteOnOff">
                    대피경로 편집
                </button>
            </div>
        </div>

        <!-- 대피경로 편집도구 툴바 -->
        <div id="evacRouteEditToolBar" class="d-none">
            <div id="evacRouteBtnEditTool" class="rounded">
                <button type="button" class="btn btn-dark btn-sm btnEvacRouteEdit" title="선그리기" data-btn-type="drawLine">선 그리기</button>
                <button type="button" class="btn btn-dark btn-sm btnEvacRouteEdit" title="점제거" data-btn-type="removePoint">점 제거</button>
                <button type="button" class="btn btn-dark btn-sm btnEvacRouteEdit" title="선제거" data-btn-type="removeLine">선 제거</button>
                <button type="button" class="btn btn-dark btn-sm btnEvacRouteEdit" title="모두제거" data-btn-type="removeAll">모두 제거</button>
                <button type="button" class="btn btn-dark btn-sm btnEvacRouteEdit" title="저장" data-btn-type="save">저장</button>
            </div>
        </div>
        <div id="poiCategorySel" class="list-group div-select-left-bottom div-topology-toggle-off">
        </div>
        <div id="floorSelect">
            <select name="floorNo" id="floorNo" class="form-select input-sm">
            </select>
        </div>
    </div>
    <!--  <div id="poiMenuPop" class="poiPopLayer dropdown-menu hide"></div>-->
    <div id="poiSelect">
    </div>
</div>


<!-- lod 설정 폼 -->
<div class="modal fade" id="lodSetModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:1600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">LOD 설정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form name="lodSetFrm" id="lodSetFrm" method="post">
                    <input type="hidden" name="buildingId" title="도면번호" required data-rules="required">
                    <fieldset>
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width:10%">
                                <col style="width:40%">
                                <col style="width:10%">
                                <col style="width:40%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>최장거리설정</th>
                                <td>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-secondary" id="btnLodMaxDist">현재화면 기준
                                            </button>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="maxDist" id="maxDist" class="form-control input-sm" title="최장거리카메라값" required data-rules="required" value="" readonly data-tagname="최장거리설정">
                                        </div>
                                    </div>
                                </td>
                                <th>LOD 레벨수</th>
                                <td>
                                    <select class="form-select" name="levlCnt" id="levelCnt" title="LOD레벨수" required data-rules="required" data-tagname="LOD레벨">
                                        <option value="3">3단계</option>
                                        <option value="4">4단계</option>
                                        <option value="5">5단계</option>
                                        <option value="6">6단계</option>
                                        <option value="7">7단계</option>
                                        <option value="8">8단계</option>
                                        <option value="9">9단계</option>
                                        <option value="10">10단계</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="nav nav-tabs" style="margin-bottom:5px;">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" name="lodTab1">POI 크기</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" name="lodTab2">LOD 설정</a>
                            </li>
                        </ul>
                        <div class="tab-content" style="padding:5px; display: flex; width: 100%; height: 100%; padding-bottom: 50px; position: relative">
                            <div id="lodTab1" class="tab-pane fade show active" style="overflow-y:auto;max-height:500px;">
                                <table class="table table-bordered lodtable">
                                    <colgroup>
                                        <col style="width:17%">
                                        <th:block th:each="x : ${#numbers.sequence(1,10)}">
                                            <col th:class="'lod_'+${x}">
                                        </th:block>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>분류</th>
                                        <th:block th:each="x : ${#numbers.sequence(1,10)}">
                                            <th th:class="'lod_'+${x}">
                                                [[${x}]]단계
                                                <select class="form-select input-sm iconSizeAll" th:id="'iconSizeAll'+${x}" title="아이콘 사이즈">
                                                    <option value="">일괄적용</option>
                                                    <option value="100">100%</option>
                                                    <option value="80">80%</option>
                                                    <option value="60">60%</option>
                                                    <option value="40">40%</option>
                                                    <option value="20">20%</option>
                                                </select>
                                            </th>
                                        </th:block>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="lodTab2" class="tab-pane fade" style="overflow-y:auto;max-height:500px;">
                                <table class="table table-bordered lodtable">
                                    <colgroup>
                                        <col style="width:17%">
                                        <th:block th:each="x : ${#numbers.sequence(1,10)}">
                                            <col th:class="'lod_'+${x}">
                                        </th:block>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>분류</th>
                                        <th:block th:each="x : ${#numbers.sequence(1,10)}">
                                            <th th:class="'lod_'+${x}">
                                                [[${x}]]단계
                                                <select class="form-select input-sm lodTypeAll" th:id="'lodTypeAll'+${x}" title="LOD 타입">
                                                    <option value="">일괄적용</option>
                                                    <option value="0">아이콘+텍스트</option>
                                                    <option value="1">아이콘</option>
                                                    <option value="2">숨김</option>
                                                </select>
                                            </th>
                                        </th:block>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btnPoiLodRegist">저장</button>
            </div>
        </div>
    </div>
</div>

<!--가상순찰 등록 모달-->
<div class="modal fade" id="patrolRegisterModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:700px;top:15%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">가상순찰 등록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form name="patrolRegisterForm" id="patrolRegisterForm" autocomplete="off">
                    <fieldset>
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width:25%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>가상순찰 이름</th>
                                <td>
                                    <input type="hidden" name="buildingId" id="registerBuildingId"/>
                                    <input type="text" name="name" id="registerName" class="form-control input-sm" maxlength="32" title="가상순찰 이름" required data-rules="required" data-tagname="가상순찰 이름">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btnPatrolRegister">등록
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="patrolModifyModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:700px;top:15%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">가상순찰 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form name="patrolModifyForm" id="patrolModifyForm" autocomplete="off">
                    <input type="hidden" id="modifyId" name="id">
                    <fieldset>
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width:25%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>가상순찰 이름</th>
                                <td>
                                    <input type="hidden" name="buildingId" id="modifyBuildingId"/>
                                    <input type="text" name="name" id="modifyName" class="form-control input-sm" maxlength="30" title="가상순찰 이름" required data-rules="required" data-tagname="가상순찰 이름">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btnPatrolModify">수정
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="patrolPointModifyModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:700px;top:15%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">가상순찰 포인트명 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form name="patrolPointModifyForm" id="patrolPointModifyForm" autocomplete="off">
                    <input type="hidden" id="modifyPointId" name="id">
                    <fieldset>
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width:25%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>가상순찰 포인트 이름</th>
                                <td>
                                    <input type="text" name="name" id="modifyPointName" class="form-control input-sm" maxlength="20" title="가상순찰 포인터 이름" required data-rules="required" data-tagname="가상순찰 포인터 이름">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btnPatrolPointNameModify">수정
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="patrolPointPoiModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:700px;top:15%;">
        <div class="modal-content" style="max-height: 750px;">
            <div class="modal-header">
                <h5 class="modal-title">POI 등록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" style="overflow-y: auto">
                <input type="hidden" id="patrolPointId"/>
                <table class="table table-bordered">
                    <colgroup>
                        <col style="width:5%">
                        <col style="width:30%">
                        <col style="width:30%">
                        <col style="width:10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">
                            <input type="checkbox" class="checkall">
                        </th>
                        <th scope="col" class="text-center">POI명</th>
                        <th scope="col" class="text-center">POI코드</th>
                        <th scope="col" class="text-center">배치여부</th>
                    </tr>
                    </thead>
                    <tbody id="patrolPointPoiInfoList">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btnPatrolPointPoiModify" onclick="updatePatrolPointPoi()">등록</button>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{admin/fragments/script :: script }"></th:block>
<script th:inline="javascript">
    let BUILDING_ID = [[${param.buildingId[0]}]];
</script>
<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
<script th:src="@{/static/js/applications/domains/system-setting/systemSetting.js}"></script>
<script th:src="@{/static/js/applications/domains/system-setting/systemSettingManager.js}"></script>
<script th:src="@{/static/js/applications/domains/poi/poi.js}"></script>
<script th:src="@{/static/js/applications/domains/poi/poiManager.js}"></script>
<script th:src="@{/static/js/applications/domains/poi-category/poiCategory.js}"></script>
<script th:src="@{/static/js/applications/domains/poi-category/poiMiddleCategory.js}"></script>
<script th:src="@{/static/js/applications/domains/poi-category/poiCategoryManager.js}"></script>
<script th:src="@{/static/js/applications/domains/poi-category/poiMiddleCategoryManager.js}"></script>
<script th:src="@{/static/js/applications/domains/building/building.js}"></script>
<script th:src="@{/static/js/applications/domains/building/buildingManager.js}"></script>
<script th:src="@{/static/js/applications/domains/icon-set/iconSet.js}"></script>
<script th:src="@{/static/js/applications/domains/icon-set/iconSetManager.js}"></script>
<script th:src="@{/static/js/applications/domains/patrol/patrol.js}"></script>
<script th:src="@{/static/js/applications/domains/patrol/patrolPoint.js}"></script>
<script th:src="@{/static/js/applications/domains/patrol/patrolManager.js}"></script>
<script th:src="@{/static/js/common/evacuationHandler.js}"></script>
<script th:src="@{/static/js/admin/viewer/poiHandler.js}"></script>
<script th:src="@{/static/js/admin/viewer/poiPagination.js}"></script>
<script th:src="@{/static/js/admin/viewer/lod.js}"></script>
<script th:src="@{/static/js/admin/viewer/patrolHandler.js}"></script>
<script th:src="@{/static/js/admin/viewer/adminPatrolEventHandler.js}"></script>
<script th:src="@{/static/js/admin/viewer/viewer.js}"></script>

</body>
</html>