<!DOCTYPE html>
<html lang="ko">
  <nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar" style="height: auto;">
      <a class="sidebar-brand" href="">
        <span class="align-middle"></span>
      </a>

      <ul class="sidebar-nav">
        <li class="sidebar-header">
          도면 관리
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/park/admin/building/parkBuilding">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">도면 관리</span>
          </a>
        </li>
      </ul>

      <!-- 공지사항 관리 -->
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          공지사항 관리
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/notice">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">공지사항 관리</span>
          </a>
        </li>
      </ul>

      <!-- 계정관리 -->
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          사용자 관리
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/user">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">사용자 관리</span>
          </a>
        </li>
      </ul>

    </div>
  </nav>

</html>