/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

strong {
  font-weight: 700;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COLOR */
:root {
  --color-black:#25232b;
  --color-black-key:#25262e;
  --color-grayscale-light:#d9dde3;
  --color-grayscale01:#b7b7b7;
  --color-grayscale02:#757680;
  --color-grayscale03:#676977;
  --color-grayscale-dark:#3c3d43;
  --color-navy:#0f2640;
  --color-navy-dark:#07142c;
  --color-mint:#00f5bf;
  --color-mint-dark:#0abf97;
  --color-blue:#186ae5;
  --color-blue-dark:#0754c8;
  --color-danger:#df1344;
  --color-warning:#ff6444;
  --color-caution:#00deaa;
}

/* FONT */
@font-face {
  font-family: "SUIT";
  font-weight: 100;
  font-style: normal;
  src: url("../webfonts/SUIT-Thin.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 200;
  font-style: normal;
  src: url("../webfonts/SUIT-ExtraLight.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 300;
  font-style: normal;
  src: url("../webfonts/SUIT-Light.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 400;
  font-style: normal;
  src: url("../webfonts/SUIT-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 500;
  font-style: normal;
  src: url("../webfonts/SUIT-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 600;
  font-style: normal;
  src: url("../webfonts/SUIT-SemiBold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 700;
  font-style: normal;
  src: url("../webfonts/SUIT-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 800;
  font-style: normal;
  src: url("../webfonts/SUIT-ExtraBold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 900;
  font-style: normal;
  src: url("../webfonts/SUIT-Heavy.otf") format("opentype");
  font-display: swap;
}
html {
  font-family: "SUIT", sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
}

.hide {
  position: absolute;
  border: 0;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* GNB */
header {
  display: flex;
  align-items: center;
  padding: 0 23px 0 30px;
  background-color: #34343C;
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
}/*# sourceMappingURL=common.css.map */