<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="viewer/head :: head"></div>
</head>
<body>
    <label class="buildingName" id="buildingName"></label>
    <div class="container">
        <nav th:replace="viewer/header :: header"></nav>
        <div id="webGLContainer" style="position:fixed; width: 100%; height:100%; "></div>
        <div class="contents">
            <div class="poi-menu">
                <div class="poi-menu__list" id="poiMenuList">
                    <ul class="default_group">
                        <!-- [D] 선택 시 active 클래스 추가 -->
                        <li class="cctv">
                            <a href="javascript:void(0)"><span class="hide">cctv</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">CCTV</span>
                            </div>
                        </li>
                        <li class="facility">
                            <a href="javascript:void(0)"><span class="hide">설비</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">설비</span>
                            </div>
                        </li>
                        <li class="power">
                            <a href="javascript:void(0)"><span class="hide">전력</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">전력</span>
                            </div>
                        </li>
                        <li class="light">
                            <a href="javascript:void(0)"><span class="hide">조명</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">조명</span>
                            </div>
                        </li>
                        <li class="fire">
                            <a href="javascript:void(0)"><span class="hide">소방</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">소방</span>
                            </div>
                        </li>
                        <li class="solar">
                            <a href="javascript:void(0)"><span class="hide">태양광</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">태양광</span>
                            </div>
                        </li>

                        <li class="air">
                            <a href="javascript:void(0)"><span class="hide">공기질</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">공기질</span>
                            </div>
                        </li>

                        <li class="obstacle">
                            <a href="javascript:void(0)"><span class="hide">항공장애</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">항공장애</span>
                            </div>
                        </li>

                        <li class="leak">
                            <a href="javascript:void(0)"><span class="hide">누수</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">누수</span>
                            </div>
                        </li>

                        <li class="access">
                            <a href="javascript:void(0)"><span class="hide">출입탐지</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">출입탐지</span>
                            </div>
                        </li>

                        <li class="bell">
                            <a href="javascript:void(0)"><span class="hide">비상벨</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">비상벨</span>
                            </div>
                        </li>
                        <li class="vav">
                            <a href="javascript:void(0)"><span class="hide">VAV</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">VAV</span>
                            </div>
                        </li>
                        <li class="geo">
                            <a href="javascript:void(0)"><span class="hide">지열</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">지열</span>
                            </div>
                        </li>
                        <li class="battery">
                            <a href="javascript:void(0)"><span class="hide">연료전지</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">연료전지</span>
                            </div>
                        </li>
                    </ul>
                    <ul class="system_group">
                        <li id="parkingTab" class="parking">
                            <a href="javascript:void(0)"><span class="hide">주차관제</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">주차관제</span>
                            </div>
                        </li>

                        <li id="elevatorTab" class="elevator">
                            <a href="javascript:void(0)"><span class="hide">승강기</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">승강기</span>
                            </div>
                        </li>

                        <li id="airTab" class="ac">
                            <a href="javascript:void(0)"><span class="hide">시스템에어컨</span></a>
                            <div class="tool-tip">
                                <span class="tool-tip__text tool-tip__text--bottom">시스템에어컨</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="systemTab" class="system-tap">
                <ul>
                    <!-- [D] 선택 시 active 클래스 추가 -->
                </ul>
            </div>

            <template th:replace="viewer/popup :: popup-template"></template>
            <template th:replace="viewer/eventPopup :: popup-template"></template>
            <template th:replace="map/systemPopup :: popup-template"></template>
            <!-- toolBox -->
            <div class="tool-box tool-box--active" style="display: none">
                <ul class="tool-box__list">
                    <!-- [D] 선택 시 active 클래스 추가 -->
                    <li class="home active">
                        <a href="javascript:void(0);"><span class="hide">도면 홈</span></a>
                        <div class="tool-tip">
                            <span class="tool-tip__text tool-tip__text--top">도면 홈</span>
                        </div>
                    </li>
                    <li class="pov">
                        <a href="javascript:void(0);"><span class="hide">1인칭</span></a>
                        <div class="tool-tip">
                            <span class="tool-tip__text tool-tip__text--top">1인칭</span>
                        </div>
                    </li>
                    <li class="twd">
                        <a href="javascript:void(0);"><span class="hide">2d</span></a>
                        <div class="tool-tip">
                            <span class="tool-tip__text tool-tip__text--top">2D</span>
                        </div>
                    </li>
                    <li class="minus">
                        <a href="javascript:void(0);"><span class="hide">minus</span></a>
                        <div class="tool-tip">
                            <span class="tool-tip__text tool-tip__text--top">축소</span>
                        </div>
                    </li>
                    <li class="plus">
                        <a href="javascript:void(0);"><span class="hide">plus</span></a>
                        <div class="tool-tip">
                            <span class="tool-tip__text tool-tip__text--top">확대</span>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- [!] 이벤트 메뉴 영역 미리 적용 추후 작업 예정 -->
            <!-- floor-info--active 될때 같이 event-state--active -->
            <aside class="event-state event-state--active">
                <button type="button" class=event-state__ctrl><span class="hide">ctrl button</span></button>
                <div class="event-state__title">
                    이벤트 통계
                    <a href="javascript:void(0)" class="event-state__button">
                        <span class="hide">이벤트 통계 전체보기</span>
                    </a>
                </div>
                <div class="event-container">
                    <div class="event-state__group">
                        <div class="event-state__subtitle">실시간 이벤트(최근 24시간)</div>
                        <table class="table">
                            <caption class="hide">출입구</caption>
                            <thead>
                            <tr>
                                <th scope="col">건물</th>
                                <th scope="col">층</th>
                                <th scope="col">이벤트명</th>
                                <th scope="col">장비명</th>
                                <th scope="col">발생시각</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="event-state__group">
                        <div class="event-state__subtitle">유형별 통계(최근 7일)</div>
                        <!-- [D] 차트 들어갈 영역 ---->
                        <div class="event-chart-wrapper">
                            <div id="custom-legend" class="custom-legend-container"></div>
                            <div class="event-state__chart">
                                <canvas id="chart_doughnut"></canvas>
                                <div class="douut-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="event-state__group">
                        <div class="event-state__subtitle">일자별 통계(최근 7일)</div>
                        <!-- [D] 차트 들어갈 영역 ---->
                        <div class="event-bar-wrapper">
                            <div class="event-state__chart_bar">
                                <canvas id="chart_bar"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>


            <!-- notice -->
            <div id="noticePopup" class="popup-event" style="display: none">
                <div class="popup-event__head">
                    <h2 class="name">공지사항</h2>
                    <button type="button" class="close"><span class="hide">close</span></button>
                </div>
                <!-- 공지사항 영역 -->
                <div class="notice-info">
                    <h3 class="notice-info__title">
                        <span class="label">긴급</span>
                        <p>제목<span class="badge">N</span></p>
                    </h3>
                    <span class="notice-info__date">2024년 10월 10일 15:22</span>
                    <div class="notice-info__contents">
                        <p>
                            본문
                        </p>
                    </div>
                </div>
                <div class="popup-event__paging">
                    <button type="button" class="left"><span class="hide">left</span></button>
                    <div class="number"><span class="active">1</span>/<span>22</span></div>
                    <button type="button" class="right"><span class="hide">right</span></button>
                </div>
            </div>
            <!-- notice == 0 -->
            <div id="noticeAlert" class="alert" style="display: none">
                <p>등록된 공지가 없습니다.</p>
                <button type="button" class="button button--solid-middle" disabled>확인</button>
            </div>
            <!-- toast toast--active 클래스 추가 -->
            <!-- event -> toast active -->
            <div class="toast">       
            </div>
        </div>
    </div>
    <th:block th:replace="viewer/script :: script "></th:block>
    <template th:replace="alert/alert :: custom-alert"></template>
</body>
</html>