<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>Light Pop Viewer</title>
    <script th:src="@{/static/js/lib/pluxity/Px.Engine.js}"></script>
    <script th:src="@{/static/js/applications/domains/poi/poiManager.js}"></script>
    <style>
        html, body { margin:0; width:100%; height:100%; overflow:hidden; }
        #sbmViewer { width:100%; height:100%; }
    </style>
</head>
<body>
<div id="sbmViewer"></div>
<script>
    window.addEventListener('message', function(e) {
        if (e.origin !== window.location.origin) return;
        const buildingData = e.data.buildingData;
        const floor = e.data.floor;
        const container = document.getElementById('sbmViewer');

        Px.Core.Initialize(container, async () => {
            const buildingFile = buildingData.buildingFile;
            const { directory } = buildingFile;
            const sbmDataArray = buildingData.floors.map((floor) => {
                const url = `/Building/${directory}/${floor.sbmFloor[0].sbmFileName}`;
                const sbmData = {
                    url,
                    id: floor.sbmFloor[0].id,
                    displayName: floor.sbmFloor[0].sbmFileName,
                    baseFloor: floor.sbmFloor[0].sbmFloorBase,
                    groupId: floor.sbmFloor[0].sbmFloorGroup,
                };
                return sbmData;
            });

            Px.Loader.LoadSbmUrlArray({
                urlDataList: sbmDataArray,
                center: "",
                onLoad: (loadedId) => {
                    Px.Core.Resize();
                    Px.Util.SetBackgroundColor('#333333');
                    Px.Camera.FPS.SetHeightOffset(15);
                    // Px.Camera.SetOrthographic();
                    Px.Camera.TopView();
                    Px.Camera.EnableScreenPanning();

                    Px.Model.Visible.HideAll();
                    Px.Model.Visible.Show(Number(floor.id));
                    // 조명만 보이게
                    Px.Poi.ShowByProperty("floorId", Number(floor.id));
                    // Px.Poi.ShowByPropertyArray({ "floorId": floorId, "poiCategoryId": categoryId });
                    PoiManager.renderAllPoiToEngineByBuildingId(buildingData.id);
                }
            });
        });
    });
</script>
</body>
</html>