<!DOCTYPE html>
<html lang="ko">
    <nav th:fragment="navbar">
        <div class="nav-left">
            <figure id="logo" class="logo">
                <img src="/static/images/viewer/logo/logo.svg" alt="깨끗한 나라">
            </figure>
            <div class="bar sm"></div>
            <span class="text-white"> 안전환경 통합방재실 </span>
            <div class="info-wrap date-wrap">
                <span id="spanDate"></span>
                <div class="bar xs"></div>
                <span id="spanTime"></span>
                <div class="bar xs"></div>
                <span data-key="weatherText">-</span>
            </div>
        </div>
        <div class="nav-center">
            <div id="weatherWrap" class="info-wrap weather-wrap">
                <div class="weather-info">
                    <span>온도</span>
                    <span data-key="temperature">-</span>
                    <span>℃</span>
                </div>
                <div class="weather-info">
                    <span>습도</span>
                    <span data-key="humidity">-</span>
                    <span>％</span>
                </div>
                <div class="weather-info">
                    <span>풍향</span>
                    <span data-key="windDegrees">-</span>
                    <span></span>
                </div>
                <div class="weather-info">
                    <span>풍속</span>
                    <span data-key="windSpeed">-</span>
                    <span>㎳</span>
                </div>
            </div>
        </div>

        <div class="nav-right">
            <button id="btnEarthquake" class="info-wrap earthquake-wrap text-warning">
                <span></span>
            </button>
            <button id="btnNotepad"></button>
            <button id="btnUser"></button>
        </div>
    </nav>
    <div th:fragment="user-box" id="userBox" class="user-layer-box text-gray-20 on">
        <div class="user-title-wrap">
            <strong class="text-white">홍길동</strong>
            <span>부서명</span>
        </div>
        <div class="user-content-wrap">
            <button class="admin-button">
                <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 9.25C18 11.4591 16.2092 13.25 14 13.25C11.7909 13.25 10 11.4591 10 9.25C10 7.04086 11.7909 5.25 14 5.25C16.2092 5.25 18 7.04086 18 9.25Z" fill="#AFB0B1"/>
                    <path d="M14 16.25C10.3617 16.25 7.2907 18.3751 6.31978 21.2842C5.97008 22.3319 6.89543 23.25 8 23.25H20C21.1046 23.25 22.0299 22.3319 21.6802 21.2842C20.7093 18.3751 17.6383 16.25 14 16.25Z" fill="#AFB0B1"/>
                </svg>
                <span>관리자 페이지</span>
            </button>
            <button class="download-button">
                <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 19.25V20.9167C6 21.653 6.59695 22.25 7.33333 22.25H20.6667C21.403 22.25 22 21.653 22 20.9167V19.25" stroke="#AFB0B1" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M14 6.25L14 18.25M14 18.25L18 15.0911M14 18.25L10 15.0911" stroke="#AFB0B1" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
                <span>CCTV 다운로드</span>
            </button>
            <button class="logout-button">
                <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 22.25L7.33333 22.25C6.59695 22.25 6 21.653 6 20.9167L6 7.58333C6 6.84695 6.59695 6.25 7.33333 6.25L15 6.25" stroke="#AFB0B1" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M12 14.75H22M22 14.75L19.1429 11.25M22 14.75L19.1429 18.25" stroke="#AFB0B1" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
                <form action="/logout" method="post">
                    <input id="logoutInput" type="submit" value="로그아웃" />
                </form>
            </button>
        </div>
    </div>
    <div th:fragment="notepad-box" id="notepadBox" class="nav-popup notepad-wrap layer-popup" data-deactivate-target="btnNotepad">
        <div class="title-wrap">
            <label for="notepad">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="8" fill="#165A3B"/>
                    <circle cx="8" cy="8" r="5" fill="#23C565"/>
                </svg>
                메모
            </label>
            <button class="nav-popup-closer close-button"></button>
        </div>
        <div class="content-wrap notepad-content-wrap">
            <textarea id="notepad" placeholder="메모를 입력하세요." contenteditable spellcheck="false" class="scroll"></textarea>
            <button id="btnSaveNotepad" class="bg-primary-90 text-white">완료</button>
        </div>
    </div>
</html>