<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="script">
        <script th:inline="javascript">
            const CONTEXT_PATH = /*[[@{/}]]*/ '';
        </script>

        <!-- AXIOS -->
        <script th:src="@{/static/js/lib/axios/axios.min.js}"></script>
        <script th:src="@{/static/js/lib/axios/axios.interceptor.js}"></script>

        <!-- ENGINE -->
        <script th:src="@{/static/js/lib/pluxity/Px.Engine.js}"></script>

        <!-- LIBRARY -->
        <script th:src="@{/static/js/lib/gridjs/gridjs.umd.js}"></script>
        <script th:src="@{/static/js/lib/gridjs/selection.umd.js}"></script>
        <script th:src="@{/static/js/admin/gridjs/gridjsHandler.js}"></script>

        <!-- DOMAINS -->
        <script th:src="@{/static/js/applications/domains/system-setting/systemSetting.js}"></script>
        <script th:src="@{/static/js/applications/domains/system-setting/systemSettingManager.js}"></script>
        <script th:src="@{/static/js/applications/domains/poi/poi.js}"></script>
        <script th:src="@{/static/js/applications/domains/poi/poiManager.js}"></script>
        <script th:src="@{/static/js/applications/domains/poi-category/poiCategory.js}"></script>
        <script th:src="@{/static/js/applications/domains/poi-category/poiCategoryManager.js}"></script>
        <script th:src="@{/static/js/applications/domains/building/building.js}"></script>
        <script th:src="@{/static/js/applications/domains/building/buildingManager.js}"></script>
        <script th:src="@{/static/js/applications/domains/icon-set/iconSet.js}"></script>
        <script th:src="@{/static/js/applications/domains/icon-set/iconSetManager.js}"></script>
        <script th:src="@{/static/js/applications/domains/patrol/patrol.js}"></script>
        <script th:src="@{/static/js/applications/domains/patrol/patrolPoint.js}"></script>
        <script th:src="@{/static/js/applications/domains/patrol/patrolManager.js}"></script>

        <!-- Common -->
        <script th:src="@{/static/js/common/common.js}"></script>
        <script th:src="@{/static/js/common/cron.js}"></script>
        <script th:src="@{/static/js/common/timerHandler.js}"></script>

        <!-- MUTATION(상태관리) -->
        <script th:src="@{/static/js/viewer/main/mutations.js}"></script>

        <!-- 초기화 -->
        <script th:src="@{/static/js/viewer/main/init.js}"></script>
    </body>
</html>
