@import "../../publishing/css/components";

@include button;
@include badge;
@include table;
@include alert;
@include toast;
@include tooltip;
@include selectbox;
@include tab-list;

// accordion  
@include sop_accordion;

// popup
@include popup_dimmed;
@include popup_warning;
@include popup_event;
@include popup_basic;
@include popup_info;

// input
@include input_checkbox;
@include input_radio; 
@include input_text;

// menu bar
@include poi_menu;
@include toolbox;
@include eventState;

// datapicker, timepicker
@include datepicker;
@include timepicker;

// ptz viewer
@include ptz-viewer;

// system tap
@include systemTap;

// 이미지 경로 변수 설정 
$base-img-path:"/static/images/viewer/";

.system-tap{
    ul{
        background: linear-gradient(180deg, rgba(116, 122, 165, 0.60) 0%, rgba(0, 0, 0, 0.00) 100%), #25262E;
    }
}

.floor-info{
    position:absolute; right:1.875rem; top:50%; transform:translateY(-50%);
    transition:right 0.3s ease;
    &--active{right:26.875rem;}
    &__inner{
        display:flex; flex-direction:column; align-items:center;
        border:1px solid var(--color-grayscale-dark); border-radius:1.25rem; background-color:rgba(103, 105, 119, 0.60);
    }
    &__button{
        margin:0.75rem 0.375rem 0.5rem 0.4375rem; 
        color:#fff; font-weight:800; font-size:0.875rem;
    }
    &__detail{
        border-top:1px solid var(--color-grayscale-dark); padding:0.5rem 0 0.3125rem; 
        width:100%; 
        text-align:center;
        button{cursor:pointer;}
        ul{
            display:flex; flex-direction:column; grid-gap:1.25rem; 
            margin:1.25rem 0;
            li{ 
                button{
                    font-size:0.75rem; color:var(--color-grayscale01);
                    &.active{color:var(--color-mint);}
                }
            }
        }
        > button{
            position:relative; 
            background-color:var(--color-grayscale-dark); border-radius:1.25rem;
            width:1.25rem; height:1.25rem;
            &::after{
                content:'';
                display:inline-block;
                position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
                width:0.875rem; height:0.875rem;
                -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                -webkit-mask-position:-282px -10px; mask-position:-282px -10px;
                background-color:#fff;
            }
            &.down::after{-webkit-mask-position:-248px -10px; mask-position:-248px -10px;}
        }
    }
    &__ctrl{
        .all{
            display:flex; align-items:center; justify-content:center;
            margin-bottom:0.625rem;
            background-color:var(--color-grayscale-dark); border-radius:1.25rem;
            width:1.875rem; height:1.875rem;
            font-size:0.75rem; color:var(--color-grayscale01); font-weight:800;
        }
        .scale{
            position:relative; display:inline-block;
            margin-bottom:0.25rem; border-radius:1.25rem; background-color:var(--color-black);
            width:1.875rem; height:1.875rem; 
            &::after{
                content:'';
                display:inline-block;
                position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
                width:0.875rem; height:0.875rem;
                -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                -webkit-mask-position:-418px -10px; mask-position:-418px -10px;
                background-color:#fff;
            }
            &--down::after{-webkit-mask-position:-384px -10px; mask-position:-384px -10px;}
        }
    }
}

// 설비 부분 팝업 공통 클래스 
.facility-area{
    height:100%;

    &__head{
        display:flex;
        .search{
            display:flex; align-items:center; grid-gap:0.3125rem;
            margin-bottom:1.25rem;
        }
        .button{height:1.875rem; min-width:5rem;}
        .text{
            margin-left:auto; 
            font-size:1.25rem; color:var(--color-grayscale01);
        }
    }
 
    
    // 엘리베이터 정보 
    @at-root{
        .left-info{
            &__list{
                height:100%; max-height:100%; 
        
                &--grid5{
                    display:grid; grid-template-columns:repeat(5, 13.75rem); grid-template-rows:repeat(4, 8.125rem);
                    grid-column-gap:0.9375rem; grid-row-gap:1.25rem;
                    li:nth-child(5n){border-right:0;}
                }

                li{
                    border:1px solid var(--color-grayscale-dark); border-radius:0.3125rem; overflow:hidden;
                }
        
                .head{
                    display:flex; justify-content:space-between; align-items:center;
                    padding:0 0.625rem; background-color:var(--color-black-key);
                    height:1.875rem;
                    &__title{color:#fff; font-size:0.875rem;}
                    &__button{
                        display:inline-block;
                        width:0.875rem; height:0.875rem;
                        -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
                        -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                        -webkit-mask-position:-10px -10px; mask-position:-10px -10px;
                        background-color:#fff;
                    }
                    .button-move{
                        margin-left:0.4375rem;
                        background-color:#494a53; color:var(--color-grayscale02);
                        &::after{background-color:var(--color-grayscale02);}
                    }
                }
                .detail{
                    display:flex; align-items:center; justify-content:center; flex-direction:column; grid-gap:0.8125rem;
                    background-color:var(--color-grayscale-dark);
                    height:calc(100% - 1.875rem);
                    &__state{
                        display:flex; align-items:center; grid-gap:1.3125rem;
                        .floor{
                            color:var(--color-grayscale01); font-size:2.5rem; font-weight:100;
                        }
                        .state{
                            display:inline-block;
                            width:1.1875rem; height:3.125rem;
                            background:url('#{$base-img-path}icon_facility.svg') no-repeat; 
                            &--up{background-position:-59px 0;}
                            &--down{background-position:0 0;}
                            &--hold{background-position:-118px 0;}
                        }
                        .label{
                            display:flex; align-items:center; justify-content:center;
                            background-color:#4681ff; border-radius:2.6875rem;
                            width:3.75rem; height:1.875rem; 
                            color:#fff; font-size:0.75rem; font-weight:700;
                            &--parking{
                                background-color:#2abfa1;
                                color:var(--color-black-key);
                            }
                            &--breakdown{
                                background-color:#d30004;
                            }
                            &--block{
                                background-color:#676977;
                                word-break:keep-all; text-align:center;  color:var(--color-black-key);
                            }
                        }
                    }
                    &__text{
                        font-size:0.875rem; color:var(--color-grayscale01);
                        &--off{color:var(--color-grayscale03);}
                    }
                }
            }
            &--escalator{
                .detail{
                    &__state{
                        .label{
                            width:2.8125rem; height:2.8125rem; border-radius:100%;
                            padding:0.1875rem; box-sizing:border-box;
                        }
                        .image{
                            background:url('#{$base-img-path}icon_facility.svg') no-repeat; background-position:-170px 0;
                            width:3.125rem; height:3.125rem; 
                        }
                        .state{
                            position:relative;
                            display:flex; flex-direction:column; align-items:center; 
                            &__text{
                                position:absolute; top:-0.625rem ; left:50%; transform:translateX(-50%);
                                font-size:0.875rem; white-space:nowrap;
                            }
                            &--down{
                                .state__text{color:#00DCF5;}
                            }
                            &--up{
                                .state__text{color:#00F5BF}
                            }
                        }
                        &--off{filter:grayscale(1);}
                    }
                }
            }
        }
    }

    @at-root{
        .system-ac{
            &__list{
                height:100%; max-height:100%; 
        
                &--grid5{
                    display:grid; grid-template-columns:repeat(5, 13.75rem); grid-template-rows:repeat(4, 8.125rem);
                    grid-column-gap:0.9375rem; grid-row-gap:1.25rem;
                    li:nth-child(5n){border-right:0;}
                }

                li{
                    border:1px solid var(--color-blue); border-radius:0.3125rem; overflow:hidden;
                }

                .head{
                    display:flex; justify-content:space-between; align-items:center;
                    padding:0 0.625rem; background-color:var(--color-blue);
                    height:1.875rem;
                    &__state{font-weight:900; margin-right:0.62rem;}
                    &__title{
                        display:flex;
                        color:#fff; font-size:0.875rem;
                    }
                    &__detail{
                        display:flex;
                        span{
                            position:relative;
                            padding-right:0.6875rem;
                            &::after{
                                content:'';
                                position:absolute; right:0.375rem; top:50%; transform:translateY(-50%);
                                width:0.0625rem; height:0.75rem; background-color:#fff;
                            }
                            &:last-child{
                                padding-right:0;
                                &::after{display:none;}
                            }
                        }
                    }
                }

                .detail{
                    display:flex; align-items:center; justify-content:center; flex-direction:column; grid-gap:0.8125rem;
                    background-color:var(--color-grayscale-dark);
                    height:calc(100% - 1.875rem);
                    &__state{
                        display:flex; flex-direction:column; grid-gap:0.69rem;
                    }
                    &__info{
                        display:flex; grid-gap:1.06rem;
                        .temp{
                            display:flex; align-items:center; grid-gap:0.63rem;
                            color:var(--color-grayscale-light);
                            &__state{
                                display:flex; flex-direction:column;
                                .temp__text{font-size:0.75rem;}
                                .temp__value{font-size:1.25rem; font-weight:700;}
                            }
                            &--current{
                                .temp__image{
                                    display:inline-block;
                                    background:url('#{$base-img-path}icon_ac.svg') no-repeat; background-position:0 0;
                                    width:1.4375rem; height:2.8125rem;

                                }
                            }
                            &--set{
                                color:var(--color-grayscale03);
                            }
                        }
                    }
                    &__mode{
                        display:flex; justify-content:center; grid-gap:0.94rem;
                        .item{
                            display:flex; align-items:center; grid-gap:0.31rem;
                            &__image{
                                display:inline-block;
                                background:url('#{$base-img-path}icon_ac.svg') no-repeat; background-position:-63px -25px;
                                width:1.25rem; height:1.25rem;
                                &--fan{
                                    background-position:-33px -25px;
                                }
                            }
                            &__label{color:var(--color-grayscale01); font-size:0.75rem;}
                        }
                    }

                }

                // 대기 상태 
                .off{
                    border-color:var(--color-grayscale03);
                    .head{
                        background-color:var(--color-grayscale03);
                        &__title{
                            color:var(--color-grayscale01);
                        }
                        &__detail{
                            span{
                                &::after{background-color:var(--color-grayscale01);}
                            }
                        }
                    }
                    .detail{
                        &__empty{color:var(--color-grayscale03); font-size:0.875rem;}
                    }
                }
            }
        }
    }
}

.parking-area{
    &__head{
        margin-bottom:0.625rem;
        color:var(--color-grayscale-light); font-size:1.125rem; font-weight:700;
    }
    &__summary{
        display:flex; align-items:center;
        margin-bottom:0.625rem;
        .title{
            color:var(--color-grayscale-light); font-size:1.125rem; 
            strong{font-size:1.5rem;}
        }
        .refresh{
            display:inline-block;
            margin-left:auto; background:url('#{$base-img-path}icon14/icon14.svg') no-repeat -180px -10px;
            width:0.875rem; height:0.875rem; 
            cursor:pointer;
        }
    }
    &__list{
        margin-right:-0.625rem; padding-right:0.25rem; 
        height:36.875rem; min-height:36.875rem; overflow-y:auto; overflow-x:hidden; scrollbar-gutter:stable;

        &::-webkit-scrollbar {width:0.375rem;}
        &::-webkit-scrollbar-thumb {
            background-color:var(--color-grayscale-dark); 
            border-radius:0.1875rem; 
        }
        &::-webkit-scrollbar-track {
            background-color:var(--color-black-key); ;
            border-radius:0.1875rem;
        }
        .item{
            display:flex; align-items:center; grid-gap:0.4375rem;
            padding:0.625rem; background-color:var(--color-grayscale-dark); border-radius:0.3125rem; box-sizing:border-box;
            ~ .item{margin-top:0.9375rem;}
            &__level{
                display:flex; align-items:center; justify-content:center;
                background-color:var(--color-grayscale03); border-radius:100%;
                width:2.5rem; height:2.5rem;
                color:var(--color-grayscale01); font-size:1rem;
            }
            &__count{
                color:var(--color-grayscale02); font-size:1.25rem;
                strong{color:#fff;}
            }
            &__link{
                display:inline-block;
                margin-left:auto; width:0.875rem; height:0.875rem;
                -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                -webkit-mask-position:-10px -10px; mask-position:-10px -10px;
                background-color:var(--color-grayscale02);
                cursor:pointer;
            }
        }
    }
}

// 이벤트 현황
.event-state{
    height:calc(100% - 12.5rem);
    .table tbody{
        max-height:37.4rem;
    }
    @media (min-width: 768px) and (max-width: 1200px) {
        .table tbody{
            max-height:41.7rem;
        }
    }
}


/*---------------------------------------------------
미디어 쿼리
---------------------------------------------------*/

/* 큰 + 일반 태블릿 (768px ~ 1400px) */
@media (min-width: 768px) and (max-width: 1400px) {
    .system-tap {
      li {
        padding:0 0.3125rem;
        font-size:0.875rem;
      }
    }

    .floor-info{
        &--active{right:27.5rem;}
    }

    .left-info{
        &__list{
            &--grid5{
                grid-template-columns:repeat(5, 11.75rem);
                grid-template-rows:repeat(4, 7.125rem);
            }
            .detail{
                grid-gap:0.25rem;
            }
        }
    }
}
