<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link th:href="@{/static/css/common/common.css}" rel="stylesheet">
    <link th:href="@{/static/css/components/components.css}" rel="stylesheet">
    <link th:href="@{/static/css/kioskViewer/kiosk.css}" rel="stylesheet">
<!--    <link th:href="@{/static/css/map/map.css}" rel="stylesheet">-->
    <title>KT 자양 통합운영 플랫폼</title>
    <script>
        const baseFontSize = 16; // rem 기준 기본값

        const scaledFontSize = baseFontSize / 3;

        document.documentElement.style.fontSize = scaledFontSize + "px";
    </script>
</head>
</html>
