<!DOCTYPE html>
<html lang="ko">
    <header th:fragment="header" class="header">
        <h1 class="header__logo"><a href="/viewer"> 통합운영 플랫폼</a></h1>
        <ul class="header__tab" role="tablist">
            <!-- [D] 선택 시 aria-selected="true"로 변경 및 class="active" 추가 -->
<!--            <li class="active" role="tab" id="tab1" aria-controls="tabpanel1" aria-selected="true" tabindex="0"><a href="#tab1">건물 A</a></li>-->
<!--            <li role="tab" id="tab2" aria-controls="tabpanel2" aria-selected="false" tabindex="0"><a href="#tab2">건물 B</a></li>-->
<!--            <li role="tab" id="tab3" aria-controls="tabpanel3" aria-selected="false" tabindex="0"><a href="#tab3">지하 주차장</a></li>-->
        </ul>
        <div class="header__info">
            <p class="date" style="font-variant-numeric: tabular-nums;
                font-feature-settings:'tnum' 1;
                white-space:nowrap;">
            </p>
            <div class="profile">
                <!-- [D] 클릭 시 profile__btn--active 클래스 추가 -->
                <a class="profile__btn" href="javascript:void(0);">
                    <img src="/static/images/viewer/icon_profile.svg" alt="profile" width="40" height="40">
                    <span class="hide">profile</span>
                    <span style="display: none" class="badge">N</span>
                </a>

                <div class="profile__layer">
                    <a href="javascript:void(0);" class="head">
                        <img src="/static/images/viewer/icon_profile02.svg" alt="profile" width="41" height="42">
                        <div>
                            <p class="head__level">슈퍼슈퍼 관리자</p>
                            <p class="head__name">관리자이름</p>
                        </div>
                    </a>

                    <div class="detail">
                        <div class="detail__group">
                            <a id="notice" href="javascript:void(0);">공지사항<span style="display: none" class="badge">N</span></a>
                            <a href="'https://10.107.9.131/external-api/" class="icon icon--manage" target="_blank">결재 관리</a>
                        </div>
                        <div class="detail__group">
                            <a id="logout" href="/logout">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</html>