<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div id="systemPopup" th:fragment="popup-template" style="z-index: 999;display: none">
    <div id="lightPop" class="popup-basic popup-basic--wide"  style="display: none;width: 80rem;z-index: 50">
        <div class="popup-basic__head">
            <h2 class="name"></h2>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <!-- 설비 -->
        <div class="search-result search-result--space" style="display: block">
            <div class="search-result__space">
                <div class="section section--info">
                    <div class="search-result__filter">
                        <div id="lightBuilding" class="select-box" style="width:50%;">
                            <!-- [D]
                             select-box 클릭 시 select-box__btn--active 클래스 추가
                             select-box 비활성화 시 select__btn--disabled 클래스 추가
                             -->
                            <span class="select-box__btn">건물 전체</span>
                            <div class="select-box__content">
                                <ul id="lightBuildingUl">

                                </ul>
                            </div>
                        </div>
                        <div id="lightFloor" class="select-box" style="width:50%;">
                            <!-- [D]
                             select-box 클릭 시 select-box__btn--active 클래스 추가
                             select-box 비활성화 시 select__btn--disabled 클래스 추가
                             -->
                            <span class="select-box__btn">층 전체</span>
                            <div class="select-box__content">
                                <ul id="lightFloorUl">

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px" id="lightAccordion" class="accordion">
                        <!-- [D] 아코디언 클릭 시 accordion__btn--active 추가 -->
                        <button class="accordion__btn accordion__btn--active" type="button">building - floor</button>
                        <div class="accordion__detail">

                        </div>

                        <button class="accordion__btn accordion__btn--active" type="button">building - floor</button>
                        <div class="accordion__detail">

                        </div>

                        <button class="accordion__btn accordion__btn--active" type="button">building - floor</button>
                        <div class="accordion__detail">

                        </div>

                        <button class="accordion__btn accordion__btn--active" type="button">building - floor</button>
                        <div class="accordion__detail">

                        </div>
                    </div>
                </div>
                <div class="section section--contents">
                    <div class=section__head>
                        <h3 class="title">배치 건물 | 배치 층</h3>
                    </div>
                    <div class="section__detail">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 승강 -->
    <div id="elevatorPop" class="popup-basic popup-basic--xwide"  style="position:fixed;z-index:10001;top:50%;left:50%;transform:translate(-50%,-50%);">
        <div class="popup-basic__head">
            <h2 class="name"></h2>
<!--            <ul class="header__tab system-pop-header-tab">-->
<!--                &lt;!&ndash; [D] 선택 시 aria-selected="true"로 변경 및 class="active" 추가 &ndash;&gt;-->
<!--                <li class="elevator-tab">엘레베이터</li>-->
<!--                <li class="escalator-tab">에스컬레이터</li>-->
<!--            </ul>-->
            <ul class="tab" role="tablist">
                <!-- [D] 선택 시 aria-selected="true"로 변경 및 class="active" 추가 -->
                <li class="elevator-tab" role="tab" id="tab1" aria-controls="tabpanel1" aria-selected="true" tabindex="0"><a href="javascript:void(0);">엘리베이터</a></li>
                <li class="escalator-tab" role="tab" id="tab2" aria-controls="tabpanel2" aria-selected="false" tabindex="0"><a href="javascript:void(0);">에스컬레이터</a></li>
            </ul>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <div id="elevatorContent" class="search-result search-result--space">
            <div class="search-result__space">
                <div class="section section--contents">
                    <div class="facility-area">
                        <div class="facility-area__head">
                            <!-- select-box -->
                            <!-- [D] width값 지정 -->
                            <div class="search">
                                <div id="elevatorBuilding" class="select-box" style="width: 100px;">
                                    <!-- [D]
                                     select-box 클릭 시 select-box__btn--active 클래스 추가
                                     select-box 비활성화 시 select__btn--disabled 클래스 추가
                                     -->
                                    <span class="select-box__btn">건물 전체</span>
                                    <div class="select-box__content">
                                        <ul id="elevatorBuildingUl">

                                        </ul>
                                    </div>
                                </div>
<!--                                <div id="elevatorFloor" class="select-box" style="width: 100px;">-->
<!--                                    &lt;!&ndash; [D]-->
<!--                                     select-box 클릭 시 select-box__btn&#45;&#45;active 클래스 추가-->
<!--                                     select-box 비활성화 시 select__btn&#45;&#45;disabled 클래스 추가-->
<!--                                     &ndash;&gt;-->
<!--                                    <span class="select-box__btn">층 전체</span>-->
<!--                                    <div class="select-box__content">-->
<!--                                        <ul id="elevatorFloorUl">-->

<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div id="elevatorStatus" class="select-box" style="width: 100px;">
                                    <!-- [D]
                                     select-box 클릭 시 select-box__btn--active 클래스 추가
                                     select-box 비활성화 시 select__btn--disabled 클래스 추가
                                     -->
                                    <span class="select-box__btn">상태 전체</span>
                                    <div class="select-box__content">
                                    </div>
                                </div>
                                <button id="elevatorSearchBtn" type="button" class="button button--solid-middle">검색</button>
                            </div>
                            <span id="totalElevatorCnt" class="text">총 0대</span>
                        </div>
                    </div>
                    <div class="left-info">
                        <ul id="elevatorList" class="left-info__list left-info__list--grid5">

                        </ul>
                    </div>
                    <div class="search-result__footer">
                        <div id="elevatorPaging" class="search-result__paging" data-type="elevator">
                            <button type="button" class="left"><span class="hide">left</span></button>
                            <div class="number"></div>
                            <button type="button" class="right"><span class="hide">right</span></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="escalatorContent" class="search-result search-result--space">
            <div class="search-result__space">
                <div class="section section--contents">
                    <div class="facility-area">
                        <div class="facility-area__head">
                            <!-- select-box -->
                            <!-- [D] width값 지정 -->
                            <div class="search">
                                <div id="escalatorDrive" class="select-box" style="width:80px;">
                                    <!-- [D]
                                     select-box 클릭 시 select-box__btn--active 클래스 추가
                                     select-box 비활성화 시 select__btn--disabled 클래스 추가
                                     -->
                                    <span class="select-box__btn">운행 전체</span>
                                    <div class="select-box__content">
                                    </div>
                                </div>
                                <div id="escalatorStatus" class="select-box" style="width:80px;">
                                    <!-- [D]
                                     select-box 클릭 시 select-box__btn--active 클래스 추가
                                     select-box 비활성화 시 select__btn--disabled 클래스 추가
                                     -->
                                    <span class="select-box__btn">상태 전체</span>
                                    <div class="select-box__content">
                                    </div>
                                </div>
                                <button id="escalatorSearchBtn" type="button" style="width: 80px" class="button button--solid-middle">검색</button>
                            </div>
                            <span id="totalEscalatorCnt" class="text">총 0대</span>
                        </div>
                    </div>
                    <div class="left-info left-info--escalator">
                        <ul id="escalatorList" class="left-info__list left-info__list--grid5">

                        </ul>
                    </div>
                    <div class="search-result__footer">
                        <div id="escalatorPaging" class="search-result__paging" data-type="escalator">
                            <button type="button" class="left"><span class="hide">left</span></button>
                            <div class="number"></div>
                            <button type="button" class="right"><span class="hide">right</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 주차 팝업 -->
    <div id="parkingPop" class="popup-basic popup-basic--xwide" style="position:fixed;z-index:999;top:50%;left:50%;transform:translate(-50%,-50%);">
        <div class="popup-basic__head">
            <h2 class="name">주차</h2>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <div class="search-result search-result--space">
            <div class="search-result__space">
                <div id="parkingInfo" class="section section--info">
                    <div class="parking-area">
                        <div class="parking-area__head">주차 현황</div>
                        <div class="parking-area__list">
                            <div class="parking-area__summary">
                                <div class="title"><strong>481</strong>/1200</div>
                                <button id="parkSummaryRefresh" type="button" class="refresh"><span class="hide">새로고침</span></button>
                            </div>
                            <div class="item">
                                <span class="item__level">B1</span>
                                <div class="item__count"><strong>481</strong>/1200</div>
                                <button type="button" class="item__link"><span class="hide">자세히보기</span></button>
                            </div>
                            <div class="item">
                                <span class="item__level">B1</span>
                                <div class="item__count"><strong>481</strong>/1200</div>
                                <button type="button" class="item__link"><span class="hide">자세히보기</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="parkingContent" class="section section--contents">
                    <div class="section__head">
                        <h3 class="title">입출차 현황</h3>
                    </div>
                    <div class="search-result__filter">
                        <div id="parkDatePicker" class="date-pickerwrap">
                            <div class="date-picker">
                                <input id="parkStartDate" type="date">
                            </div>
                            <span>~</span>
                            <div class="date-picker">
                                <input id="parkEndDate" type="date">
                            </div>
                        </div>
                        <!-- select-box -->
                        <!-- [D] width값 지정 -->
                        <div id="deviceIdSelect" class="select-box" style="width:100px;">
                            <!-- [D]
                             select-box 클릭 시 select-box__btn--active 클래스 추가
                             select-box 비활성화 시 select__btn--disabled 클래스 추가
                             -->
                            <span class="select-box__btn">입차장비ID</span>
                            <div class="select-box__content">
                                <ul>

                                </ul>
                            </div>
                        </div>
                        <div id="inoutTypeSelect" class="select-box" style="width:80px;">
                            <!-- [D]
                             select-box 클릭 시 select-box__btn--active 클래스 추가
                             select-box 비활성화 시 select__btn--disabled 클래스 추가
                             -->
                            <span class="select-box__btn -select-box__btn--active">입출구</span>
                            <div class="select-box__content">
                                <ul>

                                </ul>
                            </div>
                        </div>
                        <div id="inoutCarIdSelect" class="select-box" style="width:80px;">
                            <!-- [D]
                             select-box 클릭 시 select-box__btn--active 클래스 추가
                             select-box 비활성화 시 select__btn--disabled 클래스 추가
                             -->
                            <span class="select-box__btn -select-box__btn--active">출차ID</span>
                            <div class="select-box__content">
                                <ul>

                                </ul>
                            </div>
                        </div>
                        <div id="regularTypeSelect" class="select-box" style="width:80px;">
                            <!-- [D]
                             select-box 클릭 시 select-box__btn--active 클래스 추가
                             select-box 비활성화 시 select__btn--disabled 클래스 추가
                             -->
                            <span class="select-box__btn -select-box__btn--active">구분</span>
                            <div class="select-box__content">
                                <ul>

                                </ul>
                            </div>
                        </div>
<!--                        <div id="carNoSelect" class="select-box" style="width:80px;">-->
                        <div id="parkSearchSelect" class="select-box" style="width:80px;">
                            <!-- [D]
                             select-box 클릭 시 select-box__btn--active 클래스 추가
                             select-box 비활성화 시 select__btn--disabled 클래스 추가
                             -->
                            <span class="select-box__btn -select-box__btn--active">차량번호</span>
                            <div class="select-box__content">
                                <ul>

                                </ul>
                            </div>
                        </div>
                        <!-- input[type="text"]-->
                        <!-- [D] width값 지정 -->
<!--                        <input id="deviceName" type="text" placeholder="입력" style="width:127px;">-->
                        <input id="parkSearchInput" type="text" placeholder="입력" style="width:127px;">
                        <button id="parkSearchBtn" type="button" class="button button--solid-middle">검색</button>
                    </div>
                    <div class="search-result__contents">
                        <div id="parkingTotalCnt" class="title">
                            <button id="parkRefresh" type="button" class="reflesh" style="cursor: pointer"><span class="hide">새로고침</span></button>
                        </div>
                        <div id="parkingContentList" class="event-info">
                            <table>
                                <caption class="hide">출입구</caption>
                                <colgroup>
                                    <col style="width:8%">
                                    <col style="width:8%">
                                    <col style="width:13%">
                                    <col style="width:8%">
                                    <col style="width:13%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                </colgroup>
                                <thead>
                                    <th scope="col">번호</th>
                                    <th scope="col">입차장비ID</th>
                                    <th scope="col">입차 장비명</th>
                                    <th scope="col">입출구</th>
                                    <th scope="col">입출차시각</th>
                                    <th scope="col">차량번호</th>
                                    <th scope="col">출차 ID</th>
                                    <th scope="col">주차요금</th>
                                    <th scope="col">구분</th>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="parkingFooter" class="search-result__footer">
                        <div id="parkingPaging" class="search-result__paging">
                            <button type="button" class="left"><span class="hide">left</span></button>
                            <div class="number"><span class="active">1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span></div>
                            <button type="button" class="right"><span class="hide">right</span></button>
                        </div>
                        <button style="cursor: pointer" type="button" class="download">데이터 다운로드</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 팝업 배경 덮기 -->
    <div class="popup-dimmed"></div>
    <!-- 에어컨 -->
    <div id="airPop" class="popup-basic popup-basic--wide"  style="position:fixed;z-index:10001;top:50%;left:50%;transform:translate(-50%,-50%);">
        <div class="popup-basic__head">
            <h2 class="name"></h2>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <!-- 시스템 에어컨 -->
        <div id="airContent" class="search-result search-result--space">
            <div class="search-result__space">
                <div class="section section--contents">
                    <div class="search-result__filter"  style="justify-content: space-between;margin-bottom: 10px">
                        <div class="filter-left" style="display: flex;align-items: center;grid-gap: 5px ">
                            <div id="airBuildingSelector"  class="select-box" style="width: 100px;">
                                <span class="select-box__btn">건물 전체</span>
                                <div class="select-box__content">
                                    <ul id="airBuildingUl">
                                        <li>건물 전체</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="airFloorSelector" class="select-box" style="width: 100px;">
                                <span class="select-box__btn">층 전체</span>
                                <div class="select-box__content">
                                    <ul id="airFloorUl">
                                        <li>층 전체</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="airOnOffSelector" class="select-box" style="width: 100px;">
                                <span class="select-box__btn">ON/OFF 전체</span>
                                <div class="select-box__content">
                                    <ul>
                                        <li>ON/OFF 전체</li>
                                        <li>ON</li>
                                        <li>OFF</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="airModeSelector" class="select-box" style="width: 100px;">
                                <span class="select-box__btn">모드 전체</span>
                                <div class="select-box__content">
                                    <ul>
                                        <li>모드 전체</li>
                                        <li>난방</li>
                                        <li>냉방</li>
                                        <li>제습</li>
                                        <li>송풍</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="airVolumeSelector" class="select-box" style="width: 100px;">
                                <span class="select-box__btn">풍량 전체</span>
                                <div class="select-box__content">
                                    <ul>
                                        <li>풍량 전체</li>
                                        <li>미풍</li>
                                        <li>약풍</li>
                                        <li>강풍</li>
                                        <li>터보풍</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="airDirectionSelector" class="select-box" style="width: 100px;">
                                <span class="select-box__btn">풍향 전체</span>
                                <div class="select-box__content">
                                    <ul>
                                        <li>풍향 전체</li>
                                        <li>좌우</li>
                                        <li>상하</li>
                                    </ul>
                                </div>
                            </div>

                            <button type="button" class="button button--solid-middle" style="width: 100px;">검색</button>
                        </div>
                        <div class="title" style="color: var(--color-grayscale-light);padding: 5px 5px">
                            총 <span id="totalAirCnt">0</span>
                        </div>
                    </div>
                    <div class="section__detail" style="height: 580px; background-color: transparent">
                        <div class="facility-area facility-area--elevator">
                            <ul id="airList" class="facility-area__list facility-area__list--grid3 card-list">
                                <li class="air-card on" style="padding: 0">
                                    <div class="air-card__header">
                                        <span class="air-card__status">ON</span>
                                        <span class="air-card__title">A동 | 1F | 출입구001</span>
                                        <button type="button" class="button-move" style="background-color: transparent; padding: 0; height: 12px; max-height: 12px; line-height: 12px;"></button>
                                    </div>
                                    <div class="air-card__body">
                                        <div class="air-card__temp">
                                            <div class="air-card__temp-info">
                                                <div class="air-card__temp-label">현재</div>
                                                <div class="air-card__temp-value">24.5°C</div>
                                                <div class="air-card__temp-set">설정 온도 <span>23.0°C</span></div>
                                            </div>
                                        </div>
                                        <ul class="air-card__functions">
                                            <li>
                                                <span>냉방</span>
                                            </li>
                                            <li>
                                                <span>미풍</span>
                                            </li>
                                            <li>
                                                <span>수직</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-result__footer" style="margin-top: 10px;">
                <div class="search-result__paging">
                    <button type="button" class="left"><span class="hide">left</span></button>
                    <div class="number"></div>
                    <button type="button" class="right"><span class="hide">right</span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- 에너지 -->
    <div id="energyPop" class="popup-basic popup-basic--wide"  style="position:fixed;z-index:10001;top:50%;left:50%;transform:translate(-50%,-50%);">
        <div class="popup-basic__head">
            <h2 class="name"></h2>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <div class="search-result search-result--space">
            <div class="search-result__space">
                <div class="section section--contents">
                    <ul class="tab-list" role="tablist">
                        <!-- [D] 선택 시 aria-selected="true"로 변경 및 class="active" 추가 -->
                        <!--                    <li class="active" role="tab" id="allTab" aria-controls="tabpanel1" aria-selected="true" tabindex="0"><a href="javascript:void(0);">전체</a></li>-->
                    </ul>
                    <div class="section__detail">
                        <div class="facility-area facility-area--elevator">
                            <ul class="facility-area__list facility-area__list--grid3">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 전력 -->
    <div id="electricPop" class="popup-basic popup-basic--wide"  style="display: none;width: 80rem;z-index: 50">
        <div class="popup-basic__head">
            <h2 class="name"></h2>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <div class="search-result search-result--space">
            <div class="search-result__space">
                <div class="section section--contents">
                    <ul class="tab-list" role="tablist">
                        <!-- [D] 선택 시 aria-selected="true"로 변경 및 class="active" 추가 -->
                        <!--                    <li class="active" role="tab" id="allTab" aria-controls="tabpanel1" aria-selected="true" tabindex="0"><a href="javascript:void(0);">전체</a></li>-->
                    </ul>
                    <div class="section__detail">
                        <div class="facility-area facility-area--elevator">
                            <ul class="facility-area__list facility-area__list--grid3">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>