<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div id="systemPopup" th:fragment="popup-template" style="z-index: 50;display: none">
    <div id="lightPop" class="popup-basic popup-basic--wide"  style="display: none;width: 80rem;z-index: 50">
        <div class="popup-basic__head">
            <h2 class="name"></h2>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <!-- 설비 -->
        <div class="search-result search-result--space" style="display: block">
            <div class="search-result__space">
                <div class="section section--select">
                    <div class="search-result__filter">
                        <div id="lightBuilding" class="select-box" style="width:50%;">
                            <!-- [D]
                             select-box 클릭 시 select-box__btn--active 클래스 추가
                             select-box 비활성화 시 select__btn--disabled 클래스 추가
                             -->
                            <span class="select-box__btn">건물 전체</span>
                            <div class="select-box__content">
                                <ul id="lightBuildingUl">

                                </ul>
                            </div>
                        </div>
                        <div id="lightFloor" class="select-box" style="width:50%;">
                            <!-- [D]
                             select-box 클릭 시 select-box__btn--active 클래스 추가
                             select-box 비활성화 시 select__btn--disabled 클래스 추가
                             -->
                            <span class="select-box__btn">층 전체</span>
                            <div class="select-box__content">
                                <ul id="lightFloorUl">

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px" id="lightAccordion" class="accordion">
                        <!-- [D] 아코디언 클릭 시 accordion__btn--active 추가 -->
                        <button class="accordion__btn accordion__btn--active" type="button">building - floor</button>
                        <div class="accordion__detail">

                        </div>

                        <button class="accordion__btn accordion__btn--active" type="button">building - floor</button>
                        <div class="accordion__detail">

                        </div>

                        <button class="accordion__btn accordion__btn--active" type="button">building - floor</button>
                        <div class="accordion__detail">

                        </div>

                        <button class="accordion__btn accordion__btn--active" type="button">building - floor</button>
                        <div class="accordion__detail">

                        </div>
                    </div>
                </div>
                <div class="section section--contents">
                    <div class=section__head>
                        <h3 class="title">배치 건물 | 배치 층</h3>
                    </div>
                    <div class="section__detail">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 승강 -->
    <div id="elevatorPop" class="popup-basic popup-basic--xwide"  style="display: none;z-index: 50">
        <div class="popup-basic__head">
            <h2 class="name"></h2>
<!--            <ul class="header__tab system-pop-header-tab">-->
<!--                &lt;!&ndash; [D] 선택 시 aria-selected="true"로 변경 및 class="active" 추가 &ndash;&gt;-->
<!--                <li class="elevator-tab">엘레베이터</li>-->
<!--                <li class="escalator-tab">에스컬레이터</li>-->
<!--            </ul>-->
            <ul class="tab" role="tablist">
                <!-- [D] 선택 시 aria-selected="true"로 변경 및 class="active" 추가 -->
                <li class="elevator-tab" role="tab" id="tab1" aria-controls="tabpanel1" aria-selected="true" tabindex="0"><a href="javascript:void(0);">엘리베이터</a></li>
                <li class="escalator-tab" role="tab" id="tab2" aria-controls="tabpanel2" aria-selected="false" tabindex="0"><a href="javascript:void(0);">에스컬레이터</a></li>
            </ul>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <div id="elevatorContent" class="search-result search-result--space">
            <div class="search-result__space">
                <div class="section section--contents">
                    <div class="facility-area">
                        <div class="facility-area__head">
                            <!-- select-box -->
                            <!-- [D] width값 지정 -->
                            <div class="search">
                                <div id="elevatorBuilding" class="select-box" style="width: 100px;">
                                    <!-- [D]
                                     select-box 클릭 시 select-box__btn--active 클래스 추가
                                     select-box 비활성화 시 select__btn--disabled 클래스 추가
                                     -->
                                    <span class="select-box__btn">건물 전체</span>
                                    <div class="select-box__content">
                                        <ul id="elevatorBuildingUl">

                                        </ul>
                                    </div>
                                </div>
<!--                                <div id="elevatorFloor" class="select-box" style="width: 100px;">-->
<!--                                    &lt;!&ndash; [D]-->
<!--                                     select-box 클릭 시 select-box__btn&#45;&#45;active 클래스 추가-->
<!--                                     select-box 비활성화 시 select__btn&#45;&#45;disabled 클래스 추가-->
<!--                                     &ndash;&gt;-->
<!--                                    <span class="select-box__btn">층 전체</span>-->
<!--                                    <div class="select-box__content">-->
<!--                                        <ul id="elevatorFloorUl">-->

<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div id="elevatorStatus" class="select-box" style="width: 100px;">
                                    <!-- [D]
                                     select-box 클릭 시 select-box__btn--active 클래스 추가
                                     select-box 비활성화 시 select__btn--disabled 클래스 추가
                                     -->
                                    <span class="select-box__btn">상태 전체</span>
                                    <div class="select-box__content">
                                    </div>
                                </div>
                                <button id="elevatorSearchBtn" type="button" class="button button--solid-middle">검색</button>
                            </div>
                            <span id="totalElevatorCnt" class="text">총 0대</span>
                        </div>
                    </div>
                    <div class="left-info">
                        <ul id="elevatorList" class="left-info__list left-info__list--grid5">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="search-result__footer">
                <div id="elevatorPaging" class="search-result__paging" data-type="elevator">
                    <button type="button" class="left"><span class="hide">left</span></button>
                    <div class="number"></div>
                    <button type="button" class="right"><span class="hide">right</span></button>
                </div>
            </div>
        </div>
        <div id="escalatorContent" class="search-result search-result--space">
            <div class="search-result__space">
                <div class="section section--contents">
                    <div class="facility-area">
                        <div class="facility-area__head">
                            <!-- select-box -->
                            <!-- [D] width값 지정 -->
                            <div class="search">
                                <div id="escalatorBuilding" class="select-box" style="width:100px;">
                                    <!-- [D]
                                     select-box 클릭 시 select-box__btn--active 클래스 추가
                                     select-box 비활성화 시 select__btn--disabled 클래스 추가
                                     -->
                                    <span class="select-box__btn">건물 전체</span>
                                    <div class="select-box__content">
                                        <ul id="escalatorBuildingUl">

                                        </ul>
                                    </div>
                                </div>
                                <div id="escalatorFloor" class="select-box" style="width:80px;">
                                    <!-- [D]
                                     select-box 클릭 시 select-box__btn--active 클래스 추가
                                     select-box 비활성화 시 select__btn--disabled 클래스 추가
                                     -->
                                    <span class="select-box__btn">층 전체</span>
                                    <div class="select-box__content">
                                        <ul id="escalatorFloorUl">

                                        </ul>
                                    </div>
                                </div>
                                <div id="escalatorDrive" class="select-box" style="width:80px;">
                                    <!-- [D]
                                     select-box 클릭 시 select-box__btn--active 클래스 추가
                                     select-box 비활성화 시 select__btn--disabled 클래스 추가
                                     -->
                                    <span class="select-box__btn">운행 전체</span>
                                    <div class="select-box__content">
                                    </div>
                                </div>
                                <div id="escalatorStatus" class="select-box" style="width:80px;">
                                    <!-- [D]
                                     select-box 클릭 시 select-box__btn--active 클래스 추가
                                     select-box 비활성화 시 select__btn--disabled 클래스 추가
                                     -->
                                    <span class="select-box__btn">상태 전체</span>
                                    <div class="select-box__content">
                                    </div>
                                </div>
                                <button id="escalatorSearchBtn" type="button" style="width: 80px" class="button button--solid-middle">검색</button>
                            </div>
                            <span id="totalEscalatorCnt" class="text">총 0대</span>
                        </div>
                    </div>
                    <div class="left-info left-info--escalator">
                        <ul id="escalatorList" class="left-info__list left-info__list--grid5">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="search-result__footer">
                <div id="escalatorPaging" class="search-result__paging" data-type="escalator">
                    <button type="button" class="left"><span class="hide">left</span></button>
                    <div class="number"></div>
                    <button type="button" class="right"><span class="hide">right</span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- 주차 -->
    <div id="parkingPop" class="popup-basic popup-basic--wide"  style="display: none;width: 80rem;z-index: 50">
        <div class="popup-basic__head system-pop-header">
            <h2 class="name"></h2>
            <ul class="header__tab system-pop-header-tab">
                <!-- [D] 선택 시 aria-selected="true"로 변경 및 class="active" 추가 -->
                <li class="parking-guide-tab">주차 유도</li>
                <li class="parking-monitor-tab">주차 관제</li>
            </ul>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <div id="parkingGuideContent" class="search-result search-result--space ">
            <div class="search-result__space">
                <div class="section section--select">
                    <div class="parking-status-row">
                        <span id="parkingCurrentCount">현재</span>
                        <span style="color: gray">/</span>
                        <span id="parkingTotalCount">전체</span>
                        <button type="button" class="reflesh"><span class="hide">새로고침</span></button>
                    </div>

                    <div id="eqAccordion" class="accordion">
                        <!-- [D] 아코디언 클릭 시 accordion__btn--active 추가 -->
                        <button class="accordion__btn accordion__btn--active" type="button">floor</button>
                        <div class="accordion__detail">
                            <div class="parkingStatus">혼잡</div>
                            <div class="parking-">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section--contents">
                    <div class=section__head>
                        <div class="parkingStatus">혼잡</div>
                        <h3 class="title">동 | 층 </h3>
                    </div>
                    <div class="section__detail">
                    </div>
                </div>
            </div>
        </div>
        <div id="parkingMonitorContent" style="margin: 15px">
            <div class="search-result__filter">
                <div class="date-pickerwrap">
                    <div class="date-picker">
                        <input type="date" id="start-date">
                    </div>
                    <span>~</span>
                    <div class="date-picker">
                        <input type="date" id="end-date">
                    </div>
                </div>
                <div class="select-box" style="width: 110px;">
                    <span class="select-box__btn">주차 구분 전체</span>
                    <div class="select-box__content">
                        <ul>
                            <li>주차 구분 전체</li>
                        </ul>
                    </div>
                </div>
                <div class="select-box" style="width: 80px;">
                    <span class="select-box__btn">입구 전체</span>
                    <div class="select-box__content">
                        <ul>
                            <li>입구 전체</li>
                        </ul>
                    </div>
                </div>
                <div class="select-box" style="width: 80px;">
                    <span class="select-box__btn">출구 전체</span>
                    <div class="select-box__content">
                        <ul>
                            <li>출구 전체</li>
                        </ul>
                    </div>
                </div>
                <div class="select-box" style="width: 80px;">
                    <span class="select-box__btn">차량 번호</span>
                    <div class="select-box__content">
                        <ul>
                            <li>차량 번호</li>
                        </ul>
                    </div>
                </div>
                <input type="text" placeholder="입력">
                <button type="button" class="button button--solid-middle" style="width: 100px;">검색</button>
            </div>
            <div class="search-result__contents">
                <div class="title">
                    총 <span id="alarmCount">0</span><button type="button" class="reflesh"><span class="hide">새로고침</span></button>
                </div>
                <div class="event-info">
                    <table>
                        <colgroup>
                            <!--<col style="width:">-->
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">차량번호</th>
                            <th scope="col">주차구분</th>
                            <th scope="col">상태</th>
                            <th scope="col">주차층</th>
                            <th scope="col">주차면</th>
                            <th scope="col">입차 시각</th>
                            <th scope="col">입구코드</th>
                            <th scope="col">출차 시각</th>
                            <th scope="col">출구코드</th>
                            <th scope="col">주차 시간</th>
                        </tr></thead>
                        <tbody>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>123가123</td>
                                <td>정기</td>
                                <td>출차</td>
                                <td>B3</td>
                                <td>B1_AO1-115</td>
                                <td>2024-10-10 14:21:11</td>
                                <td>IN00A</td>
                                <td>2024-10-10 14:21:21</td>
                                <td>OUT00A</td>
                                <td>10:55:12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="search-result__footer">
                <div class="search-result__paging">
                    <button type="button" class="left"><span class="hide">left</span></button>
                    <div class="number"></div>
                    <button type="button" class="right"><span class="hide">right</span></button>
                </div>
                <button type="button" class="download">데이터 다운로드</button>
            </div>
        </div>
    </div>
    <!-- 에어컨 -->
    <div id="airPop" class="popup-basic popup-basic--wide"  style="display: none;width: 80rem; height: 780px; z-index: 50">
        <div class="popup-basic__head">
            <h2 class="name"></h2>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <!-- 시스템 에어컨 -->
        <div id="airContent" class="search-result search-result--space">
            <div class="search-result__space">
                <div class="section section--contents">
                    <div class="search-result__filter"  style="justify-content: space-between;margin-bottom: 10px">
                        <div class="filter-left" style="display: flex;align-items: center;grid-gap: 5px ">
                            <div id="airBuildingSelector"  class="select-box" style="width: 100px;">
                                <span class="select-box__btn">건물 전체</span>
                                <div class="select-box__content">
                                    <ul id="airBuildingUl">
                                        <li>건물 전체</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="airFloorSelector" class="select-box" style="width: 100px;">
                                <span class="select-box__btn">층 전체</span>
                                <div class="select-box__content">
                                    <ul id="airFloorUl">
                                        <li>층 전체</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="airOnOffSelector" class="select-box" style="width: 100px;">
                                <span class="select-box__btn">ON/OFF 전체</span>
                                <div class="select-box__content">
                                    <ul>
                                        <li>ON/OFF 전체</li>
                                        <li>ON</li>
                                        <li>OFF</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="airModeSelector" class="select-box" style="width: 100px;">
                                <span class="select-box__btn">모드 전체</span>
                                <div class="select-box__content">
                                    <ul>
                                        <li>모드 전체</li>
                                        <li>난방</li>
                                        <li>냉방</li>
                                        <li>제습</li>
                                        <li>송풍</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="airVolumeSelector" class="select-box" style="width: 100px;">
                                <span class="select-box__btn">풍량 전체</span>
                                <div class="select-box__content">
                                    <ul>
                                        <li>풍량 전체</li>
                                        <li>미풍</li>
                                        <li>약풍</li>
                                        <li>강풍</li>
                                        <li>터보풍</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="airDirectionSelector" class="select-box" style="width: 100px;">
                                <span class="select-box__btn">풍향 전체</span>
                                <div class="select-box__content">
                                    <ul>
                                        <li>풍향 전체</li>
                                        <li>좌우</li>
                                        <li>상하</li>
                                    </ul>
                                </div>
                            </div>

                            <button type="button" class="button button--solid-middle" style="width: 100px;">검색</button>
                        </div>
                        <div class="title" style="color: var(--color-grayscale-light);padding: 5px 5px">
                            총 <span id="totalAirCnt">0</span>
                        </div>
                    </div>
                    <div class="section__detail" style="height: 580px; background-color: transparent">
                        <div class="facility-area facility-area--elevator">
                            <ul id="airList" class="facility-area__list facility-area__list--grid3 card-list">
                                <li class="air-card on" style="padding: 0">
                                    <div class="air-card__header">
                                        <span class="air-card__status">ON</span>
                                        <span class="air-card__title">A동 | 1F | 출입구001</span>
                                        <button type="button" class="button-move" style="background-color: transparent; padding: 0; height: 12px; max-height: 12px; line-height: 12px;"></button>
                                    </div>
                                    <div class="air-card__body">
                                        <div class="air-card__temp">
                                            <div class="air-card__temp-info">
                                                <div class="air-card__temp-label">현재</div>
                                                <div class="air-card__temp-value">24.5°C</div>
                                                <div class="air-card__temp-set">설정 온도 <span>23.0°C</span></div>
                                            </div>
                                        </div>
                                        <ul class="air-card__functions">
                                            <li>
                                                <span>냉방</span>
                                            </li>
                                            <li>
                                                <span>미풍</span>
                                            </li>
                                            <li>
                                                <span>수직</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-result__footer" style="margin-top: 10px;">
                <div class="search-result__paging">
                    <button type="button" class="left"><span class="hide">left</span></button>
                    <div class="number"></div>
                    <button type="button" class="right"><span class="hide">right</span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- 에너지 -->
    <div id="energyPop" class="popup-basic popup-basic--wide"  style="display: none;width: 80rem;z-index: 50">
        <div class="popup-basic__head">
            <h2 class="name"></h2>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <div class="search-result search-result--space">
            <div class="search-result__space">
                <div class="section section--contents">
                    <ul class="tab-list" role="tablist">
                        <!-- [D] 선택 시 aria-selected="true"로 변경 및 class="active" 추가 -->
                        <!--                    <li class="active" role="tab" id="allTab" aria-controls="tabpanel1" aria-selected="true" tabindex="0"><a href="javascript:void(0);">전체</a></li>-->
                    </ul>
                    <div class="section__detail">
                        <div class="facility-area facility-area--elevator">
                            <ul class="facility-area__list facility-area__list--grid3">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 전력 -->
    <div id="electricPop" class="popup-basic popup-basic--wide"  style="display: none;width: 80rem;z-index: 50">
        <div class="popup-basic__head">
            <h2 class="name"></h2>
            <button type="button" class="close"><span class="hide">close</span></button>
        </div>
        <div class="search-result search-result--space">
            <div class="search-result__space">
                <div class="section section--contents">
                    <ul class="tab-list" role="tablist">
                        <!-- [D] 선택 시 aria-selected="true"로 변경 및 class="active" 추가 -->
                        <!--                    <li class="active" role="tab" id="allTab" aria-controls="tabpanel1" aria-selected="true" tabindex="0"><a href="javascript:void(0);">전체</a></li>-->
                    </ul>
                    <div class="section__detail">
                        <div class="facility-area facility-area--elevator">
                            <ul class="facility-area__list facility-area__list--grid3">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>