
// ---------------------------------------------------
// [컴포넌트]
// @mixin 모음
// 각 css에 사용되는 @mixin 불러서 사용 
// ---------------------------------------------------

// 이미지 경로 변수 설정 
$base-img-path:"/static/images/viewer/";

/* Button */
@mixin button{
    $button-types:(
        upper : #00ffa1,
        middle : var(--color-mint),
        lower : #157f6b,
        unselect : #80858d,
        disabled : #80858d
    );
    .button{
        display:flex; align-items:center; justify-content:center;
        padding:10px 5px; border:1px solid transparent; border-radius:7px; box-sizing:border-box;
        height:2.313rem;
        font-size:0.875rem; color:var(--color-black); letter-spacing:-0.00875rem;
        &--solid{
            @each $name, $type in $button-types{
                &-#{$name}{
                    background-color:#{$type};
                    font-weight:700;
                    @if(#{$name} == lower){color:var(--color-grayscale01);}
                    @if(#{$name} == unselect){color:var(--color-grayscale-light);}
                    @if(#{$name} == disabled){color:var(--color-grayscale03);}
                }
            }
        }
        &--ghost{
            @each $name, $type in $button-types{
                &-#{$name}{
                    border-color:#{$type}; background-color:#1c2024;
                    color:#{$type};
                    @if(#{$name} == lower){color:var(--color-grayscale02);}
                    @if(#{$name} == unselect){color:var(--color-grayscale01);}
                    @if(#{$name} == disabled){color:var(--color-grayscale03);}
                }
            }
        }
    }

    // 도면 이동 버튼
    .button-move{
        position:relative;
        padding:0 10px; border-radius:7px; background-color:var(--color-grayscale-dark);
        height:24px;
        line-height:24px; color:var(--color-grayscale-light); font-size:0.75rem;
        &::after{
            content:'';
            display:inline-block; vertical-align:middle;
            margin:-3px 0 0 5px;
            width:14px; height:14px;
            -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
            -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
            -webkit-mask-position:-10px -10px; mask-position:-10px -10px;
            background-color:var(--color-grayscale-light);
        }
    }
}

/* Badge */
@mixin badge{
    .badge{
        display:inline-flex; align-items:center; justify-content:center; flex-shrink:0;
        margin:0 5px; background-color:#cb0000; border-radius:100%; 
        width:20px; height:19px;
        color:#fff; font-size:0.75rem; font-weight:800;
    }
}

/* Alert */
@mixin alert{
    .alert{
        display:flex; flex-direction:column; align-items:center; justify-content:center; grid-gap:48px;
        padding:45px 30px 30px; background-color:var(--color-black); border-radius:10px; box-sizing:border-box; box-shadow:0 0 30px 0 rgba(0, 0, 0, 0.75);
        width:18.75rem; 
        color:#fff; text-align:center; line-height:1.1;
        .button{width:5rem;}
        &--border{
            grid-gap:29px;
            padding:30px 20px 20px; border:2px solid var(--color-mint);
            font-size:0.875rem; color:var(--color-grayscale-light);
        }
        &__buttons{
            display:flex; justify-content:center; grid-gap:10px;
            width:100%;
            .button{width:7.8125rem;}
        }
    }
}

/* Toast */
@mixin toast{
    .toast{
        position:fixed; bottom:-100%; right:20px; visibility:hidden; z-index:1;
        transition:all 2s cubic-bezier(0.86, 0, 0.07, 1);
        display:flex; flex-direction:column; grid-gap:20px;
        &__box{
            position:relative;
            padding:15px 10px 13px; border-radius:10px; box-sizing:border-box;
            background:linear-gradient(0deg, rgba(0, 245, 191, 0.80) 0%, rgba(0, 245, 191, 0.80) 100%), rgba(0, 0, 0, 0.20);
            width:21.875rem;
            color:var(--color-navy-dark); 
            &:last-child{border-bottom-left-radius:0; border-bottom-right-radius:0;}
        }
        &__close{
            position:absolute; right:-10px; top:-10px; 
            background-color:var(--color-black-key); border-radius:100%;
            width:24px; height:24px;        
            &::before{
                content:'';
                position:absolute; top:5px; left:5px;
                width:14px; height:14px;
                -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                -webkit-mask-position:-146px -10px; mask-position:-146px -10px;
                background-color:var(--color-mint);
            }    
       }
        &__texts{
            text-align:center; line-height:1.25rem;
            p{font-weight:500;}
        }
        &--active{bottom:0; visibility:visible;}
    }
}

/* 경고 팝업 */
@mixin popup_warning{
    .popup-warning{
        background-color:var(--color-black); border:2px solid var(--color-danger); border-radius:10px; box-shadow:0 0 30px 0 rgba(0, 0, 0, 0.75); box-sizing:border-box;
        width:21.875rem; 
        &__head{
            display:flex; align-items:center; justify-content:center;
            padding:0 20px; background-color:var(--color-danger); border-radius:7px 7px 0 0;  box-sizing:border-box;
            width:100%; height:40px; 
            color:#fff; font-weight:700; letter-spacing:-0.01rem; text-align:center;
        }
        &__content{
            padding:20px;
            table{
                width:100%;
                th,td{
                    border:1px solid var(--color-black); background-color:#2C2E31;
                    font-size:0.75rem; font-weight:500;
                }
                th{
                    padding:7.5px 10px 7.5px 5px;
                    color:var(--color-grayscale02);
                }
                td{
                    padding:7.5px 5px 7.5px 10px;
                    color:var(--color-grayscale-light); text-align:left;
                }
            }
            .buttons{
                display:flex; grid-gap:10px; 
                margin-top:19px;
                button:first-child{flex:1;}
                button:nth-child(2){flex:2;}
            }
        }
    }
}

/* 기본 팝업 */
@mixin popup_basic{
    .popup-basic{
        display:inline-block;
        background-color:var(--color-black); border-radius:10px; box-sizing:border-box;
        border-top:2px solid var(--color-mint); box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75);
        width:25rem; height:38.75rem;
        
        // popup 사이즈 클래스 
        &--small{
            padding:15px; 
            width:17.5rem; height:auto;
            .popup-basic__head{height:20px; padding:0; border-bottom:0;}
        }
        &--middle{width:38.125rem; height:40rem;       
        }
        &--wide{width:60rem; height:43.75rem;}

        &__head{
            position:relative; display:flex; align-items:center; 
            padding:0 20px; border-top-left-radius:19px; border-top-right-radius:19px; border-bottom:1px solid var(--color-grayscale-dark);
            height:50px;
            font-weight:800; color:var(--color-mint); font-size:1.125rem;
            .close{
                margin-left:auto;
                width:24px; height:24px;
                -webkit-mask-image:url('#{$base-img-path}icon24/icon24.svg'); mask-image:url('#{$base-img-path}icon24/icon24.svg'); 
                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                -webkit-mask-position:-98px -9px; mask-position:-98px -9px;
                background-color:var(--color-mint);
            }
            .arrow{
                width:24px; height:24px;
                -webkit-mask-image:url('#{$base-img-path}icon24/icon24.svg'); mask-image:url('#{$base-img-path}icon24/icon24.svg'); 
                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                -webkit-mask-position:-190px -10px; mask-position:-190px -10px;
                background-color:var(--color-mint);
            }
        }

        // 장비 표시 영역
        @at-root{
            .equip-group{
                display:grid; grid-gap:10px; grid-template-columns:1fr 1fr 1fr 1fr;
                margin-top:10px;
                a{
                    position:relative;
                    display:flex; flex-direction:column; align-items:center; justify-content:center; grid-gap:5px; 
                    padding:10px 0; box-sizing:border-box;
                    color:var(--color-grayscale03); letter-spacing:-0.0075rem; font-size:0.75rem; white-space:nowrap;
                    &::before{
                        content:'';
                        display:inline-block;
                        width:20px; height:20px; 
                        -webkit-mask-image:url('#{$base-img-path}icon20/icon20.svg'); mask-image:url('#{$base-img-path}icon20/icon20.svg'); 
                        -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                        -webkit-mask-position:-20px -20px; mask-position:-20px -20px;
                        background-color:var(--color-grayscale03);
                    }
                    &:hover{
                        color:var(--color-grayscale-light);
                        &::before{background-color:var(--color-grayscale-light);}
                    }
                    &.active{
                        color:var(--color-mint);
                        &::before{background-color:var(--color-mint);}
                    }
    
                    &.shutter::before{-webkit-mask-position:-60px -20px; mask-position:-60px -20px;}
                    &.fire::before{-webkit-mask-position:-100px -20px; mask-position:-100px -20px;}
                    &.air::before{-webkit-mask-position:-140px -20px; mask-position:-140px -20px;}
                    &.alarmbell::before{-webkit-mask-position:-180px -20px; mask-position:-180px -20px;}
                    &.invasion::before{-webkit-mask-position:-220px -20px; mask-position:-220px -20px;}
                    &.enter::before{-webkit-mask-position:-260px -20px; mask-position:-260px -20px;}
                    &.elevator::before{-webkit-mask-position:-300px -20px; mask-position:-300px -20px;}
                }
            }
        }

        // 검색결과 : 장비 목록 영역 , 가상 순찰 , 이벤트 전체 현황, 설비, 주차, 충전소   
        @at-root{
            .search-result{
                padding:20px; 
                &__filter{
                    display:flex; grid-gap:5px;
                    height:30px;
                    .button{flex:1; height:100%;}
                }
                &__contents{
                    margin-top:18px;
                    .title{
                        display:flex; align-items:center; grid-gap:3px;
                        margin:0 0 10px;
                        color:var(--color-grayscale-light); font-size:0.875rem;
                    }
                    .reflesh{
                        display:inline-block;
                        background:url('#{$base-img-path}icon14/icon14.svg') no-repeat -180px -10px;
                        width:14px; height:14px; 
                    }
                }
                &__checkbox{
                    position:relative;
                    margin:15px 0 20px; 
                    height:78px;
                    .inner{
                            position:absolute;
                            padding:15px 25px; border:1px solid var(--color-grayscale-dark); background-color:var(--color-black-key); border-radius:10px; box-sizing:border-box;
                            overflow:hidden; height:80px;
                        }
                        &--active{
                            .inner{height:auto;}
                        }
                    
                    .btn{
                        position:absolute; bottom:-1px; right:-1px;
                        background-color:var(--color-grayscale-dark); border-top-left-radius:5px; border-bottom-right-radius:5px;
                        width:24px; height:24px; 
                        &::before{
                            content:'';
                            display:inline-block;
                            width:14px; height:14px; 
                            -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
                            -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                            -webkit-mask-position:-248px -9px; mask-position:-248px -9px;
                            background-color:var(--color-grayscale-light);
                        }
                        &--open::before{
                            -webkit-mask-position:-282px -9px; mask-position:-282px -9px;
                        }
                    }
                    ul{display:grid; grid-template-columns:repeat(7, 1fr); column-gap:5px; row-gap:12px;}
                    
                }
                &__footer{
                    position:relative; display:flex; align-items:center; justify-content:center;
                    margin-top:29px;
                    .download{
                        position:absolute; right:0;
                        padding:0 10px; background-color:var(--color-grayscale-dark); border-radius:7px;
                        line-height:30px; color:var(--color-grayscale01); font-size:0.75rem;
                        &::after{
                            content:'';
                            display:inline-block; vertical-align:middle;
                            margin:-2px 0 0 4px;; 
                            width:14px; height:14px;
                            -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
                            -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                            -webkit-mask-position:-112px -10px; mask-position:-112px -10px;
                            background-color:var(--color-grayscale01);
                        }
                    }
                }
                &__paging{
                    display:flex; align-items:center; justify-content:center; grid-gap:20px;
                    color:var(--color-grayscale03); font-size:1rem; font-weight:700;
                    button{
                        width:24px; height:24px;
                        -webkit-mask-image:url('#{$base-img-path}icon24/icon24.svg'); mask-image:url('#{$base-img-path}icon24/icon24.svg'); 
                        -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                        -webkit-mask-position:-186px -9px; mask-position:-186px -9px;
                        background-color:var(--color-grayscale03);
                        cursor:pointer;
                        &.right{
                            -webkit-mask-position:-230px -9px; mask-position:-230px -9px;
                        }
                    }
                    .active{color:#fff;}
                    .number{display:flex; grid-gap:20px; cursor:pointer;}
                }
                &__space{
                    display:flex;
                    .section{
                        padding:18px;
                        
                        &--select{
                            border-right:1px solid var(--color-grayscale-dark);
                            width:15rem;
                        }
                        &--contents{flex:1;}
                        &__head{
                            display:flex; align-items:center;
                            margin-bottom:8px;
                            .title{font-size:1.125rem; color:var(--color-grayscale-light); font-weight:500;}
                            .sub{margin-left:auto}
                        }
                        &__detail{
                            background-color:var(--color-grayscale-dark);
                            width:100%; height:578px; max-height:578px; box-sizing:border-box;
                        }
                    }
                    .accordion{height:578px; max-height:578px;}
                }
                &--space{padding:0;}
            }
        }

        // 이벤트 전체 현황
        @at-root{
            .event-info{
                table{
                    width:100%;
                    text-align:center; font-size:0.75rem; letter-spacing:-0.0075rem;
                    th,td{
                        vertical-align:middle;
                        height:35px;
                        font-size:0.75rem; box-sizing:border-box;
                    }
                    th{
                        background-color:var(--color-grayscale-dark);
                        font-weight:800; color:var(--color-grayscale02); 
                    }
                    td{color:var(--color-grayscale-light);}
                }
                thead{
                    tr{border-top:2px solid var(--color-grayscale02); border-bottom:1px solid var(--color-grayscale-dark);}
                }
                tbody{
                    tr{border-bottom:1px solid var(--color-grayscale-dark);}
                }
                .icon-move{
                    display:inline-block; 
                    width:14px; height:14px;
                    -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
                    -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                    -webkit-mask-position:-10px -10px; mask-position:-10px -10px;
                    background-color:var(--color-grayscale-light);
                }
            }

        }

        // 유지 보수 영역
        @at-root{
            .maintenance-info{
                padding:20px; 
                &__list{
                    margin-right:-10px; padding-right:9px;
                    max-height:530px; overflow-y:auto; overflow-x:hidden; 
                    font-size:0.75rem;
                    &::-webkit-scrollbar {width:6px;}
                    &::-webkit-scrollbar-thumb {
                        background-color:var(--color-grayscale-dark); 
                        border-radius:3px; 
                    }
                    &::-webkit-scrollbar-track {
                        background-color:var(--color-black-key); 
                        border-radius:3px;
                    }
                    table{
                        text-align:center; font-size:0.75rem; letter-spacing:-0.0075rem;
                        th,td{
                            vertical-align:middle;
                            margin-right:6px; padding:10px 5px; box-sizing:border-box;
                            color:var(--color-grayscale02);
                        }
                        th{
                            height:35px;
                            font-weight:800;
                        }
                        td{
                            height:50px; 
                            color:var(--color-grayscale-light);
                        }
                    }
                    thead{
                        tr{border-top:1px solid var(--color-grayscale02); border-bottom:1px solid var(--color-grayscale-dark);}
                    }
                    tbody{
                        tr{border-bottom:1px solid var(--color-grayscale-dark);}
                    }
                    li + li{margin-top:20px;}
                    
                }
                &__title{
                    margin-bottom:10px;
                    color:var(--color-grayscale-light); font-size:0.875rem; font-weight:700;
                }
            }
        }

        // 가상 순찰 영역
        @at-root{
            .patrol-info{
                margin:10px 0 0 10px;
                padding:0 10px 0 0;
                height:360px; max-height:360px; overflow-y:auto; overflow-x:hidden; 
                color:var(--color-grayscale01); line-height:1.25rem; font-size:0.875rem; letter-spacing:-0.00875rem;
                &::-webkit-scrollbar {width:6px;}
                &::-webkit-scrollbar-thumb {
                    background-color:var(--color-grayscale-dark); 
                    border-radius:3px; 
                }
                &::-webkit-scrollbar-track {
                    background-color:var(--color-black-key); 
                    border-radius:3px;
                }
                &__ctrl{
                    display:flex; align-items:center; justify-content:center; grid-gap:15px;
                    background-color:var(--color-grayscale-dark);
                    width:100%; height:44px; 
                    button{
                        width:24px; height:24px;
                        -webkit-mask-image:url('#{$base-img-path}icon24/icon_play.svg'); mask-image:url('#{$base-img-path}icon24/icon_play.svg'); 
                        -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                        background-color:var(--color-grayscale03);
                        cursor:pointer;
                        &.play{-webkit-mask-position:-98px -10px; mask-position:-98px -10px;}
                        &.pause{-webkit-mask-position:-10px -10px; mask-position:-10px -10px;}
                        &.stop{-webkit-mask-position:-54px -10px; mask-position:-54px -10px;}
                    }
                }
                &__output{
                    margin-top:6px; padding:0 20px;
                    .location{
                        &__title{
                            position:relative; display:flex; align-items:center; grid-gap:3px;
                            height:30px; line-height:30px; color:var(--color-grayscale01);
                            &::before{
                                content:'';
                                margin:0 2px;
                                width:14px; height:14px;
                                -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
                                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                                -webkit-mask-position:-520px -10px; mask-position:-520px -10px;
                                background-color:var(--color-grayscale01);
                            }
                        }
                    }
                    ol{
                        counter-reset:counter;
                        > li{
                            display:flex; 
                            counter-increment:counter;
                            &::before{
                                content:counter(counter, decimal-leading-zero);
                                display:flex; align-items:center; justify-content:center;
                                margin-right:6px;
                                width:30px; height:30px;
                                color:var(--color-grayscale-light); font-weight:900; font-size:0.875rem;
                            }
                        }
                    }
                    ul{
                        position:relative;
                        padding: 0 0 0 28px;
                        display:flex; flex-wrap:nowrap; justify-content:space-between; align-items:center; flex-direction:column;
                        color:var(--color-grayscale01);
                        &::before{
                            content:'';
                            position:absolute; left:8px; top:0; height:100%;
                            border-left:1px dotted var(--color-grayscale01);
                        }
                        > li{
                            position:relative; display:flex; align-items:center; justify-content:center;
                            height:30px;
                            &::before{
                                content:'';
                                position:absolute; left:-5px; top:50%; transform:translateY(-50%); border-radius:50%;
                                width:2.5px; height:2.5px; background-color:var(--color-grayscale01);
                            }
                        }
                    }
                }
            }
        }             
    }
}       

/* 이벤트 팝업 - 공지사항/SOP */
@mixin popup_event{
    .popup-event{
        display:inline-block;
        background-color:var(--color-black); box-shadow:0 0 30px 0 rgba(0, 0, 0, 0.75);
        border-radius:20px 20px 10px 10px; box-sizing:border-box;
        width:31.25rem; height:37.5rem;

        // popup 사이즈 클래스 
        &--middle{width:38.125rem; height:40rem;}

        &__head{
            display:flex; align-items:center; justify-content:space-between;
            padding:0 20px; background-color:var(--color-mint); border-top-left-radius:19px; border-top-right-radius:19px;
            height:50px;
            font-weight:800; color:var(--color-navy-dark); font-size:1.125rem;
            .close{
                width:24px; height:24px;
                -webkit-mask-image:url('#{$base-img-path}icon24/icon24.svg'); mask-image:url('#{$base-img-path}icon24/icon24.svg'); 
                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                -webkit-mask-position:-98px -9px; mask-position:-98px -9px;
                background-color:var(--color-navy-dark);
            }
        }
        &__paging{
            display:flex; align-items:center; justify-content:center; grid-gap:45px;
            margin-top:35px; padding:23px 0 21px; 
            color:var(--color-grayscale03); font-size:1.375rem; font-weight:700;
            button{
                width:24px; height:24px;
                -webkit-mask-image:url('#{$base-img-path}icon24/icon24.svg'); mask-image:url('#{$base-img-path}icon24/icon24.svg'); 
                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                -webkit-mask-position:-186px -9px; mask-position:-186px -9px;
                background-color:var(--color-grayscale03);
                &.right{
                    -webkit-mask-position:-230px -9px; mask-position:-230px -9px;
                }
            }
            .active{color:#fff;}
            .number{
                display:flex; grid-gap:10px;
            }
        }

        // 공지사항 영역
        @at-root{
            .notice-info{
                width:31.25rem;
                &__title{
                    display:flex; grid-gap:5px; align-items:flex-start;
                    margin:15px 30px 5px 20px;
                    min-height:35px;
                    color:#fff; line-height:1.125rem;
                    .label{
                        flex-shrink:0;
                        background-color:var(--color-danger); border-radius:5px; padding:0 4.5px;
                        height:20px;
                        font-size:0.75rem; line-height:20px;
                    }
                }
                &__date{
                    margin:0 30px 0 20px;
                    color:var(--color-grayscale03); font-size:0.75rem;
                }
                &__contents{
                    margin:15px 10px 0 0;
                    padding:0 14px 0 20px;
                    height:360px; max-height:360px; overflow-y:auto; overflow-x:hidden;
                    color:var(--color-grayscale01); line-height:1.25rem; font-size:0.875rem; letter-spacing:-0.00875rem;
                    &::-webkit-scrollbar {width:6px;}
                    &::-webkit-scrollbar-thumb {
                        background-color:var(--color-grayscale-dark); 
                        border-radius:3px; 
                    }
                    &::-webkit-scrollbar-track {
                        background-color:var(--color-black-key); 
                        border-radius:3px;
                    }
                }
            }
        }

        // SOP 영역
        @at-root{
            .sop-info{
                &__title{
                    margin:20px; 
                    font-size:0.875rem; font-weight:700; color:var(--color-grayscale-light);
                }
                &__contents{
                    display:flex; grid-gap:10px; justify-content:center;
                    margin:20px 20px 17px 20px;
                    .image{
                        color:var(--color-grayscale-light); font-size:0.75rem;
                        &__text{line-height:1.6;}    
                    }
                    .manual{
                        flex:1;
                        &__title{
                            background-color:var(--color-navy-dark);
                            color:var(--color-grayscale-light); font-size:0.875rem; line-height:27px; text-align:center; font-weight:700;
                        }
                    }
                }
                .accordion{width:100%; height:525px; max-height:525px;}
            }
        }
    }
}

/* POi Pin 정보 팝업 */
@mixin popup_info{
    .popup-info{
        display:inline-block;
        border-radius:0 10px 10px 10px; box-shadow:3px 3px 6px 0 rgba(0, 0, 0, 0.70);
        min-width:10.625rem; overflow:hidden;
        &__head{
            display:flex; align-items:center;
            background-color:var(--color-mint); padding:7px 10px 7px 15px;
            height:1.8125rem;
            color:var(--color-navy-dark); font-weight:700; font-size:0.75rem;
            .close{
                margin-left:auto;
                width:14px; height:14px;
                -webkit-mask-image:url('static/img/icon14/icon14.svg'); mask-image:url('/img/icon14/icon14.svg');
                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                -webkit-mask-position:-146px -10px; mask-position:-146px -10px;
                background-color:var(--color-navy-dark);
            }

        }
        &__content{
            padding:10px 15px 15px;
            .title{color:var(--color-mint-dark); font-weight:700;}
            .date{
                display:flex; align-items:center; grid-gap:13px;
                margin:5px 0;
                font-weight:500; color:var(--color-grayscale03); font-size:0.6875rem;
                &__refresh{
                    width:14px; height:14px;
                    -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg');
                    -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                    -webkit-mask-position:-180px -10px; mask-position:-180px -10px;
                    background-color:var(--color-grayscale02);
                }
            }
            .state {
                dl{
                    display:flex; align-items:center; justify-content:space-between;
                    font-weight:700; font-size:0.75rem;
                }
                &__title{color:var(--color-grayscale03);}
                &__value{
                    color:var(--color-mint-dark);
                    &::before{
                        content:'';
                        display:inline-block; vertical-align:middle;
                        margin-right:3px; background-color:var(--color-mint-dark); border-radius:100%;
                        width:10px; height:10px;
                    }
                }
            }
            table{
                border-top:2px solid var(--color-black-key);
                min-width:14.375rem;
                font-size:0.75rem;
                thead{background-color:var(--color-grayscale-light);}
                th, td{
                    vertical-align:middle;
                    padding:5px; box-sizing:border-box;
                    height:25px;
                    text-align:center;
                }
                th{font-weight:700;}
                td{
                    border-bottom:1px solid var(--color-grayscale01);
                    color:var(--color-grayscale03);
                }
            }
        }
    }
}

/* DatePicker/TimePicker */
%picker {
    height:30px;
        input{
            position:relative;
            padding:7.5px 24px 7.5px 10px; border:1px solid var(--color-grayscale02); border-radius:5px;
            background-color:var(--color-black);
            height:100%; box-sizing:border-box;
            color:var(--color-grayscale03); font-family:'SUIT', sans-serif; font-size:0.75rem; letter-spacing:-1px;
            &::-webkit-calendar-picker-indicator{
                display:block; position:absolute; top:0; left:0; opacity:0;
                width:100%; height:100%; overflow:hidden;
                cursor:pointer;
            }
            &::after{
                content:'';
                position:absolute; right:10px; top:50%; transform:translateY(-50%);
                width:14px; height:14px;
                -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                background-color:var(--color-grayscale03);
            }
            &:focus{
                color:var(--color-grayscale-light); 
                &::after{background-color:var(--color-grayscale-light);}
            }
            &.selected{
                color:var(--color-grayscale-light); 
                &::after{background-color:var(--color-grayscale-light);}
            }
        }

}
@mixin datepicker{
    .date-picker{
        @extend %picker;
        &wrap{
            display:flex; align-items:center; grid-gap:5px;
            color:var(--color-grayscale-light);            
            > span{color:var(--color-grayscale02);}
        }
        input{
            width:110px;
            &::after{-webkit-mask-position:-452px -10px; mask-position:-452px -10px;}
        }
    }
}
/* TimePicker */
@mixin timepicker{
    .time-picker{
        @extend %picker;
        input{
            width:95px;
            &::after{-webkit-mask-position:-486px -10px; mask-position:-486px -10px;}
        }
    }
}


/* tooltip */
@mixin tooltip{
    .tool-tip{
        position:relative; display:inline-block;
        &__text{
            position:absolute; 
            padding:3px 5px; background-color:var(--color-black-key); border-radius:2px; box-sizing:border-box;
            height:20px;
            font-size:0.6875rem; font-weight:500; color:#fff; line-height:1.4; white-space:nowrap;
            &--right::before, &--top::before{
                content:'';
                position:absolute; 
                background:url('#{$base-img-path}tooltip_arrow.svg') no-repeat;
                width:5px; height:6px;
            }
            &--right{
                margin-left:5px;
                &::before{
                    top:50%; left:-5px; transform:translateY(-50%);
                }
            }
            &--top{
                margin-bottom:5px;
                &::before{
                    bottom:-4px; left:50%; transform:translateX(-50%) rotate(30deg);
                }
            }
        }
    }
}

/* Checkbox */
@mixin input_checkbox{
    .checkbox-wrap{
        display:flex; grid-gap:3px; align-items:center; 
        height:20px;
    }
    input[type="checkbox"]{ 
        appearance:none;
        position:relative; display:inline-block; flex-shrink:0;
        width:16px; height:16px;
        margin:0; border:1px solid var(--color-grayscale03); background-color:var(--color-black); border-radius:3px; 
        &:checked{
            border-color:var(--color-mint-dark);
            &::after{
                content:'';
                position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);
                background:url('#{$base-img-path}input_checkbox.svg') no-repeat center/contain; 
                width:6px; height:4px;
            }
            + label{color:var(--color-mint-dark);}
        }
        &:disabled{
            border-color:var(--color-grayscale-dark); background-color:var(--color-black-key);
            &::after{display:none;}
        }
        + label{font-size:0.75rem; color:var(--color-grayscale03);}
       
    }
}

/* Radio */
@mixin input_radio{
    .radiobox-wrap{
        display:flex; grid-gap:3px; align-items:center; flex-shrink:0;
    }
    input[type="radio"]{
        appearance:none;
        position:relative; display:inline-block; flex-shrink:0;
        width:16px; height:16px;
        margin:0; border:1px solid var(--color-grayscale03); background-color:var(--color-black); border-radius:15px;
        &:checked{
            border-color:var(--color-mint-dark);
            &::after{
                content:'';
                position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);
                background-color:var(--color-mint); box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.60) inset; border-radius:100%;
                width:8px; height:8px;
            }
            + label{color:var(--color-mint-dark);}
        }
        &:disabled{
            border-color:var(--color-grayscale-dark); background-color:var(--color-black-key);
            &::after{display:none;}
        }
        + label{font-size:0.75rem; color:var(--color-grayscale03);}
    }
}

/* Input Text */
@mixin input_text{
    input[type="text"], input[type="password"]{
        padding:7px 10px 8px 10px; border:1px solid var(--color-grayscale02); background-color:var(--color-black); border-radius:5px; box-sizing:border-box;
        color:var(--color-grayscale-light); font-size:0.75rem; 
        &::placeholder{color:var(--color-grayscale03);}
        &::-webkit-input-placeholder{color:var(--color-grayscale03);}

        &:focus{
            outline:none; 
            &::placeholder{color:var(--color-grayscale-light);}
            &::-webkit-input-placeholder{color:var(--color-grayscale-light);}
        }

        &:disabled{border-color:var(--color-grayscale-dark); color:var(--color-grayscale03);}
    }
    // input 에러 메시지 노출 및 보더색상 변경 시 아래 클래스로 묶어서 적용
    @at-root{
        .input-error{
            position:relative;
            input{
                border-color:#0B5746;
                height:2.5rem; width:100%;
                font-size:0.875rem;
            }
            &--active{
                input{
                    border-color:var(--color-danger); color:var(--color-danger);
                }
            }
            &__text{
                position:absolute; 
                margin:3px 0 0 5px; 
                color:var(--color-danger); font-size:0.75rem;
            }
        }
    }
}

/* Table */
@mixin table{
    .table {
        width:100%;
        th, td{color:var(--color-grayscale-light);}
        th{padding:7px 5px; font-size:0.875rem;}
        td{
            padding:11px 5px; border-bottom:1px solid var(--color-grayscale03);
            font-size:0.75rem; text-align:center;
        }
        thead{
            position:relative;
            &::before{
                content:'';
                display:block; position:absolute; top:0; right:0; z-index:-1;
                background-color:var(--color-grayscale03); border-radius:5px;
                width:100%; height:100%;
            }
        }
    }
}

/* tab */
@mixin tab_list{
    .tab-list{
        display:flex; align-items:center; 
        &--border{border-bottom:2px solid var(--color-grayscale02);}
        li{
            position:relative;
            display:flex; align-items:center; justify-content:center; flex:1;
            padding:0 3px; background-color:var(--color-black);
            height:30px; border:solid var(--color-grayscale-dark); border-width:1px 0 0 1px;
            color:var(--color-grayscale03); font-size:0.75rem; font-weight:700; cursor:pointer;
            &.active{
                border-color:var(--color-grayscale02); background-color:var(--color-grayscale02);
                color:var(--color-grayscale-light); 
                &::before{
                    content:'';
                    position:absolute; left:-2px; 
                    width:1px; height:100%; box-shadow:inset -1px 0 0 var(--color-grayscale-dark);
                }
            }
            &:first-child.active::before{display:none;}
            &:last-child{border-right-width:1px;}
        } 
        + .accordion .accordion__btn:first-child{border-top:0;}
    }
}

/* Accordion */
@mixin accordion{
    .accordion{
        margin-right:-10px; padding-right:4px; 
        height:455px; min-height:455px; overflow-y:auto; overflow-x:hidden; scrollbar-gutter:stable;

        &::-webkit-scrollbar {width:6px;}
        &::-webkit-scrollbar-thumb {
            background-color:var(--color-grayscale-dark); 
            border-radius:3px; 
        }
        &::-webkit-scrollbar-track {
            background-color:var(--color-black-key); ;
            border-radius:3px;
        }
        
        // 테이블안 문구 왼쪽 정렬
        .align-left{text-align:left;}
        
        &__detail{
            display:none; 
            margin-bottom:10px;
            font-size:0.75rem;
            .empty{
                display:flex; align-items:center; justify-content:center;
                background-color:var(--color-black-key);
                height:80px;
                color:var(--color-grayscale-light)
            }
            table{
                th, td{vertical-align:middle; text-align:center;}
                th{
                    padding:7px 5px; background-color:var(--color-grayscale-dark);
                    color:var(--color-grayscale-light); font-weight:700;
                }
                td{
                    padding:11px 5px;  
                    color:var(--color-grayscale02);
                }
                tbody{
                    display:block;
                    max-height:185px; overflow-y:auto; overflow-x:hidden; 
                    background-color:var(--color-black);
                    tr{
                        border-bottom:1px solid var(--color-grayscale-dark);
                        &:last-child{border-bottom:none;}
                    }
                    &::-webkit-scrollbar {width:6px; background-color:transparent;}
                    &::-webkit-scrollbar-thumb {
                        background-color:var(--color-grayscale-dark); 
                        border-radius:3px; 
                    }
                    &::-webkit-scrollbar-track {
                        background-color:var(--color-black-key); opacity:0.5;
                        border-radius:3px;
                    }
                } 
                thead, tbody tr{
                    display:table; table-layout:fixed; 
                    width:100%;
                }
            }
        }
        &__btn{
            position:relative; display:flex;
            padding:10px 24px 10px 10px; background-color:var(--color-black); border-bottom:1px solid var(--color-grayscale-dark); border-top:1px solid var(--color-grayscale02); box-sizing:border-box;
            width:100%; 
            color:var(--color-grayscale01); text-align:left; font-size:0.75rem;
            .sub{margin:0 10px 0 auto;}
            &:first-of-type{border-top-width:2px;}
            &::after{
                content:'';
                position:absolute; top:50%; transform:translateY(-50%); right:10px;
                background:url('#{$base-img-path}icon14/icon14.svg') no-repeat -248px -10px; 
                width:14px; height:14px;
            }
            &--active{
                background-color:var(--color-grayscale03); color:var(--color-grayscale-light);
                &::after{background-position-x:-282px;}
                + .accordion__detail{display:block;}
            }
        }
    }
}

/* SOP Accordion */
@mixin sop_accordion{
    .sop-accord{
        margin-right:-12px; padding-right:6px;
        height:485px; max-height:485px; overflow-y:auto; overflow-x:hidden; scrollbar-gutter:stable;
        font-size:0.75rem;

        &::-webkit-scrollbar {width:6px;}
        &::-webkit-scrollbar-thumb {
            background-color:var(--color-grayscale-dark); 
            border-radius:3px; 
        }
        &::-webkit-scrollbar-track {
            background-color:var(--color-black-key); 
            border-radius:3px;
        }

        &__btn{
            position:relative;
            display:flex; align-items:center; grid-gap:5px;
            padding:10px 24px 10px 10px; border-bottom:1px solid var(--color-grayscale-dark); box-sizing:border-box;
            width:100%; 
            color:var(--color-grayscale01); line-height:19px;
            .label{
                background-color:var(--color-grayscale-dark); border-radius:5px; 
                min-width:50px; 
                font-weight:700; text-align:center; color:var(--color-grayscale-light);
            }
            &::after{
                content:'';
                position:absolute; top:50%; transform:translateY(-50%); right:10px;
                background:url('#{$base-img-path}icon14/icon14.svg') no-repeat -248px -10px; 
                width:14px; height:14px;
            }
            &--active{
                background-color:var(--color-grayscale03); color:var(--color-grayscale-light);
                &::after{background-position-x:-282px;}
                + .sop-accord__detail{display:block;}
            }
        }

        &__detail{
            display:none;
            padding:10px 5px;
            line-height:1.3;
            .message{
                margin-bottom:5px; padding:10px; border:1px solid var(--color-grayscale-light); background-color:var(--color-grayscale02); box-sizing:border-box;
                color:var(--color-grayscale-light); 
                &__title{
                    display:inline-block;
                    margin-bottom:5px; 
                    font-size:0.875rem;
                }
            }
            ul{
                padding:5px 10px;
                color:var(--color-grayscale01); 
                li + li{margin-top:5px;}
            }
        }
    }
}

/* selectbox */
@mixin selectbox{
    .select-box{
        position:relative;
        font-size:0.75rem;
        &__content{
            display:none;
            position:absolute; top:calc(100% + 1px); z-index:1;
            background-color:var(--color-black); border:1px solid var(--color-grayscale-dark); border-radius:5px; box-sizing:border-box;
            width:100%; 
            ul{
                max-height:162px; overflow-y:auto; overflow-x:hidden; 
                &::-webkit-scrollbar {width:6px;}
                &::-webkit-scrollbar-thumb {
                    background-color:var(--color-grayscale-dark); 
                    border-radius:3px; 
                }
                &::-webkit-scrollbar-track {
                    background-color:var(--color-black-key); 
                    border-radius:3px;
                }
            }
            li{
                padding:6px 10px; border-bottom:1px solid var(--color-grayscale-dark); box-sizing:border-box;
                height:27px; 
                color:var(--color-grayscale01); line-height:15px;
                &:last-child{border-bottom:none;}
                &:hover{color:#fff;}
                &.selected{
                    background-color:var(--color-grayscale-dark);
                    color:#fff;
                }
            }
        }
        &__btn{
            position:relative; display:inline-block;
            padding:7.5px 10px; border:1px solid var(--color-grayscale02); background-color:var(--color-black); border-radius:5px; box-sizing:border-box;
            width:100%;
            color:var(--color-grayscale03); cursor:pointer; 
            &::after{
                content:'';
                position:absolute; right:4px; top:50%; transform:translateY(-50%);
                width:14px; height:14px;
                -webkit-mask-image:url('#{$base-img-path}icon14/icon14.svg'); mask-image:url('#{$base-img-path}icon14/icon14.svg'); 
                -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                -webkit-mask-position:-100px 0; mask-position:-100px 0;
                -webkit-mask-size:cover; mask-size:cover;
                background-color:var(--color-grayscale03);
            }
            &:focus{
                color:var(--color-grayscale-light);
                &::after{background-color:var(--color-grayscale-light);}
            }
            &--active{
                color:var(--color-grayscale-light);
                + .select-box__content{display:block;}
                &::after{
                    -webkit-mask-position:-114px 0; mask-position:-114px 0;
                    background-color:var(--color-grayscale-light);
                }
            }
            &--disabled{border-color:var(--color-grayscale-dark); cursor:revert;}
        }
    }
}

/* POI Menu */
@mixin poi_menu{
    .poi-menu{
        position:absolute; top:50%; transform:translateY(-50%);
        display:flex; flex-direction:column; align-items:center; 
        width:60px;
        
        &__all{
            display:flex; align-items:center; justify-content:center; z-index:1;
            margin-bottom:20px; background:linear-gradient(178deg, #00F5BF 44.07%, #15B9FF 99.49%); box-shadow:0 -8px 13px 0 rgba(3, 61, 170, 0.60) inset;
            filter:drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.70)); 
            width:60px; height:60px; border-radius:100%; 

            .popup-basic--small{position:absolute; left:77px; top:0;}
            
            .all{
                position:relative; 
                width:50px; height:50px; border-radius:100%;
                color:var(--color-navy-dark); font-size:0.6875rem; line-height:14px;
                > a {
                    position:relative;
                    display:flex; align-items:center; justify-content:center; flex-direction:column;
                    height:50px;
                    text-align:center;
                    &::before{
                        content:'';
                        -webkit-mask-image:url('#{$base-img-path}icon_poi.svg'); mask-image:url('#{$base-img-path}icon_poi.svg'); 
                        -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                        -webkit-mask-position:-340px -20px; mask-position:-340px -20px;
                        background-color:var(--color-navy-dark); 
                        width:20px; height:20px;
                    }
                }
                &.active{
                    background-color:rgba(255, 255, 255, 0.80); box-shadow:0 4px 4px 0 #43D0DF inset;
                    color:var(--color-blue);
                    > a::before{background-color:var(--color-blue);}
                }
                &:hover{
                    color:var(--color-blue);
                    > a::before{background-color:var(--color-blue);}
                }
            }
        }
        &__list{
            background:linear-gradient(178deg, #00F5BF 44.07%, #15B9FF 99.49%); box-shadow:0 -8px 13px 0 rgba(3, 61, 170, 0.60) inset;
            filter:drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.70)); padding:10px 7.5px; border-radius:40px;
            width:60px; box-sizing:border-box;

            // 3d view에서 사용되는 poi menu 리스트 
            &--map{margin-top:3px; border-top-left-radius:0; border-top-right-radius:0;}

            .tool-tip{
                display:none;
                &__text{top:50%; transform:translateY(-50%); left:-10px;}
            }
            ul{display:flex; align-items:center; justify-content:center; flex-direction:column; grid-gap:3px;}
            li{
                position:relative;
                display:flex; align-items:center; justify-content:center; 
                width:45px; height:45px; border-radius:100%;
                > a{
                    width:45px; height:45px;
                    -webkit-mask-image:url('#{$base-img-path}icon_poi.svg'); mask-image:url('#{$base-img-path}icon_poi.svg'); 
                    -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                    -webkit-mask-position:-8px -6px; mask-position:-8px -6px;
                    background-color:var(--color-navy-dark);
                }
                &.shutter a {-webkit-mask-position:-48px -6px; mask-position:-48px -6px;}
                &.fire a{-webkit-mask-position:-88px -8px; mask-position:-88px -8px;}
                &.alarmbell a{-webkit-mask-position:-126px -8px; mask-position:-126px -8px;}
                &.air a{-webkit-mask-position:-166x -8px; mask-position:-166px -8px;}
                &.invasion a{-webkit-mask-position:-208px -6px; mask-position:-208px -6px;}
                &.enter a{-webkit-mask-position:-248px -8px; mask-position:-248px -8px;}
                &.elevator a{-webkit-mask-position:-288px -8px; mask-position:-288px -8px;}
                &.patrol a{-webkit-mask-position:-367px -6px; mask-position:-367px -6px;}
                &.sop a{-webkit-mask-position:-407px -6px; mask-position:-407px -6px;} 
                &.shelter a{-webkit-mask-position:-448px -8px; mask-position:-448px -8px;}
                &.maintenance a{-webkit-mask-position:-486px -6px; mask-position:-486px -6px;}

                &:hover{
                    background-color:rgba(20, 111, 121, 0.20);
                    > .tool-tip{display:block;}
                }
                &.active{
                    background-color:rgba(255, 255, 255, 0.80); box-shadow:0 4px 4px 0 #43D0DF inset;
                    > a{background-color:var(--color-blue);}
                    > .tool-tip{display:none;}
                }
            }
        }
        &:has(.poi-menu__list--map){
            .poi-menu__list:not(.poi-menu__list--map){
                background:linear-gradient(178deg, #00F5BF 44.07%, #00F5BF 99.49%); 
                box-shadow:0 0 10px 0 rgba(3, 61, 170, 0.60) inset, 3px 3px 6px 0 rgba(0, 0, 0, 0.70);
                border-bottom-left-radius:0; border-bottom-right-radius:0;
            }   
            .poi-menu__list--map:not(.poi-menu__list){
                background:linear-gradient(178deg, #00F5BF 44.07%, #15B9FF 99.49%);
                box-shadow:0 -8px 13px 0 rgba(3, 61, 170, 0.60) inset, 3px 3px 6px 0 rgba(0, 0, 0, 0.70);
            }
        }
    }
}

/* ToolBox */
@mixin toolbox{
    .tool-box{
        display:inline-flex; position:absolute; bottom:20px; right:20px;
        padding:10px; border:1px solid #0A1714; border-radius:70px; box-sizing:border-box;
        background:linear-gradient(180deg, rgba(0, 245, 191, 0.00) 61.5%, rgba(0, 245, 191, 0.20) 100%), #25252B;
        box-shadow:0 5px 14px 0 rgba(0, 245, 191, 0.65);
        height:65px; 
        &__list{
            display:flex; align-items:center; justify-content:center; grid-gap:10px;
            .tool-tip{
                display:none;
                &__text{top:-38px; transform:translateX(-50%); left:50%; margin-left:-10px;}
            }
            
            li{
                display:flex; align-items:center; justify-content:center;
                width:45px; height:45px;
                > a{
                    width:20px; height:20px;
                    -webkit-mask-image:url('#{$base-img-path}icon_tool.svg'); mask-image:url('#{$base-img-path}icon_tool.svg'); 
                    -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
                    -webkit-mask-position:-20px -20px; mask-position:-20px -20px;
                    background-color:var(--color-grayscale-light);
                }
                &.plus a{-webkit-mask-position:-60px -20px; mask-position:-60px -20px;}
                &.minus a{-webkit-mask-position:-100px -20px; mask-position:-100px -20px;}
                &.pov a{-webkit-mask-position:-140px -20px; mask-position:-140px -20px;}
                &.twd a{-webkit-mask-position:-180px -20px; mask-position:-180px -20px;}
                
                &.home{
                    position:relative;
                    margin-right:12px;
                    &::after{
                        content:'';
                        position:absolute; right:-12px; 
                        border-radius:2px; background-color:var(--color-grayscale03);
                        height:35px; width:2px;
                    }
                }
                &:hover{
                    background-color:#25252A; border-radius:100%;
                    box-shadow:0 0 4px 0 rgba(0, 245, 191, 0.45) inset;
                    > .tool-tip{display:block;}
                }
                &.active{
                    > a{background-color:var(--color-mint);}
                    > .tool-tip{display:none;}
                }
            }
        }
    }
}

/* 이벤트 현황 */
// 이벤트 현황 영역 추후 추가 작업 예정
@mixin eventState{
    .event-state{
        position:absolute; top:80px; right:-25.625rem; transition:right 0.3s ease; z-index:50;
        width:25.625rem; height:calc(100% - 5rem);
        background-color:#34343C; box-shadow:-4px 2px 5px 0 rgba(0, 0, 0, 0.35); backdrop-filter:blur(10px);
        
        &--active{right:0;}
    }
}

