@charset "UTF-8";
NAV {
    height: var(--layout_nav_height);
    background: var(--color_gray_110);
    box-shadow: 0 1rem 13.5rem 0 rgba(9, 228, 100, 0.25);
    color: #FFFFFF;
    z-index: 20;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

NAV > DIV {
    width: calc((100% - 8rem) / 3);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.6rem;
}

.nav-left { gap:2rem; }
.nav-center { justify-content: center; }
.nav-right { justify-content: end; gap: 1rem;}
#logo {
    cursor: pointer;
}
.bar { width: .15rem; background: #6A6A6D  }
.bar.xs {  height: 1.5rem; }
.bar.sm {  height: 2rem; }

.hidden { display: none !important; }

.info-wrap { background-color:var(--color_gray_90); display: flex; flex-direction: row; padding: 1rem 2rem; justify-content: center; align-items: center; border-radius: 50rem; }
.info-wrap.date-wrap { gap: 0.625rem; }
.info-wrap.weather-wrap { gap: 1rem; cursor: pointer;}
.info-wrap.earthquake-wrap { font-size: 1.2rem; gap: 1.5rem; }
.weather-wrap.active, .earthquake-wrap.active, .weather-wrap:hover, .earthquake-wrap:hover { background-color:var(--color_gray_70); }

.weather-info { display: flex; gap: .2rem; }
.weather-info > SPAN:nth-child(1) { margin-right: .5rem;}
.weather-info > SPAN:nth-child(2) { color:var(--color_primary_60); }
.weather-info > SPAN:nth-child(3) { align-self: start; font-size: 0.1rem}

#btnNotepad { width:3.2rem; height:3.2rem; background: url('/static/images/viewer/buttons/notepad.svg') no-repeat; }
#btnNotepad.active, #btnNotepad:hover { background: url('/static/images/viewer/buttons/notepad_on.svg') no-repeat; }
#btnUser { width:4rem; height:4rem; background: url('/static/images/viewer/buttons/user.svg') no-repeat; }
#btnUser.active, #btnUser:hover { background: url('/static/images/viewer/buttons/user_on.svg') no-repeat; }

.user-layer-box::after { content: "";position: absolute; border-bottom: 1rem solid #000000; border-right: .75rem solid transparent; border-left: .75rem solid transparent; top: -.9rem; right: .8rem; }
.user-layer-box { width: 20rem; position: fixed; background-color: #000000; right: 4.5rem; display: flex; flex-direction: column; font-size: 1.4rem; border-radius: 1rem; top: 8.5rem; transform: translateY(calc(-100% - 8.5rem)); transition: all .5s ease-in-out; z-index: 10; }
.user-layer-box.open { transform: translateY(0); }

.user-title-wrap { display: flex; flex-direction: column; gap: 1rem; border-bottom:.1rem solid var(--color_gray_70); padding: 1.5rem 3rem; }
.user-content-wrap { display: flex; flex-direction: column; align-items: start; padding: 1.5rem 2rem; gap: 1rem; }
.user-content-wrap > BUTTON { display: flex; gap: 1rem; }
.user-content-wrap > BUTTON:hover { color: var(--color_primary_80)}
.user-content-wrap .admin-button:hover svg path {
    fill: var(--color_primary_80);
}
.user-content-wrap .download-button:hover svg path {
    stroke: var(--color_primary_80);
}
.user-content-wrap .logout-button:hover svg path {
    stroke: var(--color_primary_80);
}
.user-content-wrap .logout-button form input {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--color_gray_20);
    font-size: 1.4rem;
    cursor: pointer;
}
.user-content-wrap .logout-button form input:hover {
     color: var(--color_primary_80)
}


.nav-popup { display: none; }
.nav-popup.modal { width: 100vw; height: 100vh; backdrop-filter: blur(.75rem); user-select: none; }
.nav-popup.modal > DIV { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.nav-popup.open { display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 30; }
.nav-popup .title-wrap { height: 5rem; display:flex; justify-content: space-between; align-items:center; padding: 2rem 1.5rem 2rem 2rem; background-color: var(--color_gray_110); color: #FFFFFF; border-top-left-radius: 1rem; border-top-right-radius: 1rem;  }
.nav-popup .title-wrap > LABEL { display:flex; gap: .75rem; align-items: center; }
.nav-popup .nav-popup-closer { width: 2.4rem; height: 2.4rem; background: url('/static/images/viewer/buttons/notepad_close.svg') no-repeat; }
.nav-popup .nav-popup-closer:hover { background: url('/static/images/viewer/buttons/notepad_close_on.svg') no-repeat; }
.nav-popup .content-wrap { border-bottom-left-radius: 1rem;  border-bottom-right-radius: 1rem; display:flex; flex-direction: column; justify-content: space-around; align-items: center; padding: 2rem; background-color: rgba(0, 0, 0, 0.8); color: #FFFFFF; gap: 1rem;}

.notepad-wrap { width: 55rem; height: 58.5rem; }
.notepad-content-wrap > TEXTAREA { resize: none; outline: none; font-family: "webfonts", sans-serif; width: 50rem; height:43rem; border-radius:.5rem; padding: 2rem; box-sizing: border-box; border: none; color: #FFFFFF; font-size: 1.4rem; backdrop-filter: blur(.5rem); background-color: rgba(255, 255, 255, 0.1);  }
.notepad-content-wrap > BUTTON { width: 16rem; height: 3.5rem; border-radius: 1rem; }

/** 날씨 팝업 */
.weather-popup-wrap { width: 85rem; height: 84rem; }

.weather-search-wrap { width: 100%; display: flex; flex-direction: row; justify-content: space-between }
.weather-search-wrap INPUT[type="date"] { border: .1rem solid var(--color_gray_70); height: 3rem; border-radius: .5rem; padding: .1rem .2rem; background-color: var(--color_gray_100); color: #FFFFFF; background-image: url(/static/images/viewer/icons/calendar.svg); background-repeat: no-repeat; background-position-x: right; background-position-y: center; text-align: center; }
.weather-search-wrap INPUT[type="date"]::-webkit-calendar-picker-indicator { -webkit-appearance: none; background: none; }
.weather-search-wrap LABEL { font-size: 1.2rem; }
.weather-search-wrap BUTTON { padding: 1rem 1rem; border-radius: .5rem; font-size: 1.4rem; font-weight: bold; }
.weather-search-wrap .weather-search-left { display: flex; justify-content: center; gap: .5rem; align-items: center; }

.weather-data-loading { width: 100%; height: 60rem; display: flex; justify-content: center; align-items: center; }
.weather-data-loading > .loading-wrap { display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 2rem; }
.weather-data-loading > .loading-wrap > .loading-image { animation: rotate_image 1.5s linear infinite; transform-origin: 50% 50%; width: 5rem; height: 5rem; background: url('/static/images/viewer/icons/loading.png') center no-repeat}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
.weather-data-loading > .loading-wrap > .loading-msg { color: #FFFFFF; text-align: center; font-size: 1.8rem; }

.weather-data-table { width: 100%; font-size: 1.4rem; }
.weather-data-table > THEAD > TR { color: var(--color_gray_30); }
.weather-data-table > THEAD > TR > TH { padding: 1.5rem 1.2rem; border-bottom: 1px solid var(--color_gray_60); }
.weather-data-table > TBODY > TR { color: #FFFFFF; text-align: center; }
.weather-data-table > TBODY > TR > TD { padding: 1.5rem 1.2rem; }

/** 지진정보 팝업 **/
.earthquake-popup-wrap { width: 52rem; height: 68.5rem; gap: 2rem; }

.earthquake-data-table { width: 100%; font-size: 1.4rem; }
.earthquake-data-table > THEAD > TR { color: var(--color_gray_30); }
.earthquake-data-table > THEAD > TR > TH { padding: 1.5rem 1.2rem; border: 1px solid var(--color_gray_60); }
.earthquake-data-table > TBODY > TR { color: #FFFFFF; text-align: center; cursor: pointer;  }
.earthquake-data-table > TBODY > TR > TD { padding: 1.5rem 1.2rem; border: 1px solid var(--color_gray_60); }
:is(.earthquake-data-table > TBODY > TR:hover, .earthquake-data-table > TBODY > TR.active) > TD,
.earthquake-data-table > TBODY > TR.on { background: rgba(255, 255, 255, 0.10); border-color: var(--color_gray_60);  }


.earthquake-content-wrap > LABEL { font-size: 1.2rem; }
.earthquake-content-wrap > IMG { border-radius:.5rem; width: 48rem; height:37rem; }

