<!DOCTYPE html>
<html lang="ko">

<nav class="navbar navbar-expand navbar-light navbar-bg">

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                    <span class="text-dark">관리자</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item " href="/viewer"><i class="align-middle me-1 fa-solid fa-display"></i> 사용자 화면으로 이동</a>
                    <a class="dropdown-item " href="/admin/userInfo"><i class="align-middle me-1 fa-solid fa-gears"></i> 사용자 정보</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">
                        <form action="/logout" method="post">
                            <input id="logout-input" type="submit" value="로그아웃" />
                        </form>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>


</html>