<!DOCTYPE html>
<html lang="ko">
  <nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar" style="height: auto;">
      <a class="sidebar-brand" href="">
        <span class="align-middle"></span>
      </a>

      <ul class="sidebar-nav">
        <li class="sidebar-header">
          도면 관리
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/building/indoor">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">실내 도면 관리</span>
          </a>
        </li>
      </ul>

      <ul class="sidebar-nav">
        <li class="sidebar-header">
          POI 관리
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/icon-set">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">아이콘 셋 관리</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/poi-category">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">POI 분류 관리</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/poi-list">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">POI 관리</span>
          </a>
        </li>
      </ul>
<!--      &lt;!&ndash; 통합 이벤트 관리 &ndash;&gt;-->
<!--      <ul class="sidebar-nav">-->
<!--        <li class="sidebar-header">-->
<!--          통합 이벤트 관리-->
<!--        </li>-->
<!--        <li class="sidebar-item">-->
<!--          <a class="sidebar-link" href="#">-->
<!--            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">통합 이벤트 관리</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      &lt;!&ndash; 장비 상태 관리 &ndash;&gt;-->
<!--      <ul class="sidebar-nav">-->
<!--        <li class="sidebar-header">-->
<!--          장비 상태 관리-->
<!--        </li>-->
<!--        <li class="sidebar-item">-->
<!--          <a class="sidebar-link" href="#">-->
<!--            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">장비 상태 관리</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      &lt;!&ndash; SOP 관리 &ndash;&gt;-->
<!--      <ul class="sidebar-nav">-->
<!--        <li class="sidebar-header">-->
<!--          SOP 관리-->
<!--        </li>-->
<!--        <li class="sidebar-item">-->
<!--          <a class="sidebar-link" href="#">-->
<!--            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">SOP 관리</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
      <!-- 업체 관리 -->
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          업체 관리
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">유지보수</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/management/vendor">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">거래처</span>
          </a>
        </li>
      </ul>

      <!-- 공지사항 관리 -->
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          공지사항 관리
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/notice">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">공지사항 관리</span>
          </a>
        </li>
      </ul>

      <!-- 계정관리 -->
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          사용자 관리
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/user">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">사용자 관리</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/user-group">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">사용자 그룹 관리</span>
          </a>
        </li>
      </ul>

      <!-- 시스템 설정 -->
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          시스템 설정
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/system-setting">
            <i class="align-middle fa-solid fa-bars-staggered"></i> <span class="align-middle">시스템 설정</span>
          </a>
        </li>
      </ul>

    </div>
  </nav>

</html>